<h1 mat-dialog-title class="header-create">New group</h1>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <mat-form-field>
                    <input #nameElement matInput placeholder="Name" maxlength="30" style="color: black" [formControl]="nameFormControl">
                    <mat-error *ngIf="nameFormControl.hasError('minlength')">
                        Name must contains at least 5 characters
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea #descElement matInput placeholder="Description" [(ngModel)]="data.description" maxlength="256" style="color: black" rows="3">
                    </textarea>
                    <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-cancel" mat-button (click)="onCancel()">Cancel</button>
    <button class="btn-save" mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>