.strategy-section.relay {
  min-height: 450px;
}

.strategy-section.strategies {
  min-height: 600px;
}

.strategy-section.metrics {
  min-height: 700px;
}

.switcher-component-section {
  display: grid; 
  padding: 15px;
  width: 100%;
}

.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.btn-element {
  display: block;
}

:host /deep/ .flex-column {
  display: block;
}

:host /deep/ .mat-list-option {
  height: 30px !important;
}

:host /deep/ .nav-link {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .options-section {
    float: right;
    display: contents;
  }

  .strategy-control-style {
    display: flex;
  }

  :host /deep/ .mat-tab-header {
    display: contents;
  }
}

@media only screen and (max-width: 430px) {
  .options-section-label {
    display: none;
  }

  :host /deep/ #tabset>.justify-content-start {
    display: block;
  }

  .strategy-section.metrics {
    min-height: 500px;
  }
}