.strategy-section {
  margin-top: 20px;
}

.switcher-component-section {
  display: grid; 
  padding: 15px;
  width: 100%;
}

.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.btn-element {
  display: block ruby;
}

:host /deep/ .flex-column {
  display: block ruby;
}

:host /deep/ .mat-list-option {
  height: 30px !important;
}

@media only screen and (max-width: 1200px) {
  .options-section {
    float: right;
    display: contents;
  }

  .strategy-control-style {
    display: flex;
  }

  :host /deep/ .mat-tab-header {
    display: contents;
  }
}

@media only screen and (max-width: 430px) {
  .options-section-label {
    display: none;
  }
}