<app-block-ui [isBlocked]="blockuiEnabled()" [message]="blockuiMessage()" [showSpinner]="true">
    @if (loading()) {
    <div class="card-body loader-div">
        <div class="loader"></div>
        <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
    </div>
    }
    <div [ngClass]="detailBodyStyle()">
        <section [ngClass]="classStatus()">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input #keyElement matInput [value]="config?.key" maxlength="30"
                            [ngStyle]="editing() ? {'color': 'black'} : ''" readonly="{{ !editing() }}" special-chars
                            [autoUpper]="true" [autoUnderscore]="true" [formControl]="keyFormControl"
                            autocomplete="off">
                        @if (keyFormControl.hasError('minlength')) {
                        <mat-error>
                            Key must contains at least 3 characters
                        </mat-error>
                        }
                        @if (keyFormControl.hasError('required')) {
                        <mat-error>
                            Key is <strong>required</strong>
                        </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea #descElement matInput [value]="config?.description" maxlength="256"
                            [ngStyle]="editing() ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing() }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <mat-label>Created At</mat-label>
                        <input matInput [value]="config?.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Update</mat-label>
                        <input matInput [value]="config?.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Created By</mat-label>
                        <input matInput [value]="config?.admin.name" readonly>
                    </mat-form-field>
                </div>
                <div class="description">
                    @if (config) {
                    <app-environment-config [enable]="envEnable" [domainId]="domainId"
                        [configuredEnvironments]="config.activated" (outputEnvChanged)="onEnvChange($event)"
                        (outputStatusChanged)="onEnvStatusChanged($event)" (outputEnvRemoved)="onEnvRemoved($event)">
                    </app-environment-config>
                    }
                    <mat-checkbox [(ngModel)]="disableMetrics" [color]="'primary'" style="margin: auto;"
                        [disabled]="!editing()">
                        Disable metrics
                    </mat-checkbox>
                </div>
            </div>
        </section>
        <section class="strategy-control-style">
            <mat-form-field class="switcher-component-section">
                <mat-label>Switcher Components</mat-label>
                <mat-chip-grid #chipList aria-label="Component selection">
                    @for (component of components; track component) {
                    <mat-chip-row [removable]="editing()" (removed)="removeComponent(component)">
                        {{component}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                    <input #componentInput [formControl]="componentForm" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addComponent($event)" [readonly]="!editing()">
                </mat-chip-grid>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectComponent($event)">
                    @for (component of filteredComponents | async; track component) {
                    <mat-option [value]="component">
                        {{component}}
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </section>
        <section class="strategy-control-style">
            <div class="options-section-config">
                <button mat-button [ngClass]="editing() ? 'btn-element save' : 'btn-element'" (click)="edit()"
                    [disabled]="!updatable()">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing() ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" (click)="addStrategy()"
                    [disabled]="!strategiesCreatable() && !updatable()">
                    <mat-icon>code</mat-icon>
                    <div class="options-section-label">Add Strategy</div>
                </button>
                <button mat-button class="btn-element" (click)="addRelay()"
                    [disabled]="(!relayUpdatable() && !updatable()) || hasRelay()">
                    <mat-icon>swap_horizontal_circle</mat-icon>
                    <div class="options-section-label">Add Relay</div>
                </button>
                <button mat-button class="btn-element btn-red" (click)="delete()" [disabled]="!removable()">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
        @if (!loadingStrategies()) {
        <section #strategysection [ngClass]="classStrategySection" style="padding-top: 10px;">
            @if (loading()) {
            <div class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="Switcher API logo" />
            </div>
            }

            <nav ngbNav #nav="ngbNav" [activeId]="currentTab()" class="nav-pills" (navChange)="onNavChange($event)">
                @if (hasStrategies()) {
                <ng-container [ngbNavItem]="1">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>code</mat-icon>
                        <div>Strategies</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-strategy-list [strategies]="strategies" [moveToEnd]="hasNewStrategy" [parent]="this"
                            style="width: 100%; display: grid;"></app-strategy-list>
                    </ng-template>
                </ng-container>
                }
                @if (hasRelay()) {
                <ng-container [ngbNavItem]="2">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>swap_horizontal_circle</mat-icon>
                        <div>Relay</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-relay-detail [config]="config" [currentEnvironmentInput]="currentEnvironment()" [parent]="this">
                        </app-relay-detail>
                    </ng-template>
                </ng-container>
                }
                <ng-container [ngbNavItem]="3">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>insert_chart</mat-icon>
                        <div>Metrics</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-metric id="config-metrics" [switcher]="config.key" [environment]="currentEnvironment()">
                        </app-metric>
                    </ng-template>
                </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </section>
        }
    </div>
</app-block-ui>