.strategy-section {
  margin-top: 20px;
}

:host /deep/ .flex-column {
  display: block ruby;
}

:host /deep/ .tab-content {
  margin-top: -30px;
}

@media only screen and (max-width: 1200px) {
  .options-section {
    float: right;
    display: contents;
  }

  .strategy-control-style {
    display: flex;
  }

  :host /deep/ .mat-tab-header {
    display: contents;
  }
}

@media only screen and (max-width: 430px) {
  .strategy-control-style {
    display: grid;
  }
}