<block-ui>
    <div *ngIf="loading" class="card-body loader-div">
        <div class="loader"></div>
        <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
    </div>
    <div [ngClass]="loading ? 'loading' : detailBodyStyle">
        <section [ngClass]="classStatus">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <input #keyElement matInput placeholder="Name" [value]="config?.key" maxlength="30"
                            [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}" 
                            special-chars [autoUpper]="true" [autoUnderscore]="true"
                            [formControl]="keyFormControl" autocomplete="off">
                        <mat-error *ngIf="keyFormControl.hasError('minlength')">
                            Key must contains at least 3 characters
                        </mat-error>
                        <mat-error *ngIf="keyFormControl.hasError('required')">
                            Key is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea #descElement matInput placeholder="Description" [value]="config?.description" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <input matInput placeholder="Created At" [value]="config?.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Update" [value]="config?.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Created By" [value]="createdBy" readonly>
                    </mat-form-field>
                </div>
                <div class="description">
                    <app-environment-config *ngIf="config"
                        [currentEnvironment]="currentEnvironment"
                        [enable]="envEnable"
                        [domainId]="domainId" 
                        [configuredEnvironments]="config.activated"
                        (outputEnvChanged)="onEnvChange($event)"
                        (outputStatusChanged)="onEnvStatusChanged($event)"
                        (outputEnvRemoved)="onEnvRemoved($event)">
                    </app-environment-config>
                    <mat-checkbox [(ngModel)]="disableMetrics" [color]="'primary'" style="margin: auto;" [disabled]="!editing">
                        Disable metrics
                    </mat-checkbox>
                </div>
            </div>
        </section>
        <section class="strategy-control-style">
            <mat-form-field class="switcher-component-section">
                <mat-chip-list #chipList aria-label="Component selection">
                <mat-chip
                    *ngFor="let component of components"
                    [selectable]="true"
                    [removable]="editing"
                    (removed)="removeComponent(component)">
                    {{component}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Switcher Components"
                    #componentInput
                    [formControl]="componentForm"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addComponent($event)"
                    [readonly]="!editing">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectComponent($event)">
                <mat-option *ngFor="let component of filteredComponents | async" [value]="component">
                    {{component}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </section>
        <section class="strategy-control-style">
            <div class="options-section">
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" (click)="addStrategy()" [disabled]="!updatable">
                    <mat-icon>code</mat-icon>
                    <div class="options-section-label">Add Strategy</div>
                </button>
                <button mat-button class="btn-element" (click)="addRelay()" [disabled]="!updatable || hasRelay()">
                    <mat-icon>swap_horizontal_circle</mat-icon>
                    <div class="options-section-label">Add Relay</div>
                </button>
                <button mat-button class="btn-element btn-red" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
        <section #strategysection *ngIf="!loadingStrategies" [ngClass]="classStrategySection" style="padding-top: 10px;">
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="Switcher API logo"/>
            </div>

            <nav ngbNav #nav="ngbNav" [activeId]="currentTab" class="nav-pills" (navChange)="onNavChange($event)">
                <ng-container [ngbNavItem]="1" *ngIf="hasStrategies">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>code</mat-icon>
                        <div>Strategies</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-strategy-list [strategies]="strategies" [moveToEnd]="hasNewStrategy" 
                            [parent]="this" style="width: 100%; display: grid;"></app-strategy-list>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="2" *ngIf="hasRelay()">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>swap_horizontal_circle</mat-icon>
                        <div>Relay</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-relay-detail 
                            [config]="config" 
                            [currentEnvironment]="currentEnvironment" 
                            [parent]="this">
                        </app-relay-detail>
                    </ng-template>
                </ng-container>
                <ng-container [ngbNavItem]="3">
                    <a ngbNavLink (click)="scrollToElement(strategysection);">
                        <mat-icon>insert_chart</mat-icon>
                        <div>Metrics</div>
                    </a>
                    <ng-template ngbNavContent>
                        <hr>
                        <app-metric 
                            [switcher]="config.key" 
                            [environment]="currentEnvironment">
                        </app-metric>
                    </ng-template>
                </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </section>
    </div>
</block-ui>