<block-ui>
    <div [ngClass]="detailBodyStyle">
        <section [ngClass]="classStatus">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <input #keyElement matInput placeholder="Name" [value]="config?.key" maxlength="30"
                            [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}" [formControl]="keyFormControl" autocomplete="off">
                        <mat-error *ngIf="keyFormControl.hasError('minlength')">
                            Key must contains at least 3 characters
                        </mat-error>
                        <mat-error *ngIf="keyFormControl.hasError('required')">
                            Key is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea #descElement matInput placeholder="Description" [value]="config?.description" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <input matInput placeholder="Created At" [value]="config?.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Update" [value]="config?.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Created By" [value]="createdBy" readonly>
                    </mat-form-field>
                </div>
                <div class="description">
                    <app-environment-config #envSelectionChange [currentEnvironment]="getConfig().activated"></app-environment-config>
                </div>
            </div>
        </section>
        <section class="strategy-control-style">
            <mat-form-field class="switcher-component-section">
                <mat-chip-list #chipList aria-label="Component selection">
                <mat-chip
                    *ngFor="let component of components"
                    [selectable]="true"
                    [removable]="editing"
                    (removed)="removeComponent(component)">
                    {{component}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Switcher Components"
                    #componentInput
                    [formControl]="componentForm"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addComponent($event)"
                    [readonly]="!editing">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let component of filteredComponents | async" [value]="component">
                    {{component}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </section>
        <section class="strategy-control-style">
            <div class="options-section">
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" (click)="addStrategy()" [disabled]="!updatable">
                    <mat-icon>code</mat-icon>
                    <div class="options-section-label">Add Strategy</div>
                </button>
                <button mat-button class="btn-element" style="background: #fb5454;" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
        <section #strategysection id="strategy-section" style="padding-top: 10px;">
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
            </div>
            <ngb-tabset *ngIf="!loading" [activeId]="1" type="pills" [destroyOnHide]="false">
                <ngb-tab *ngIf="hasStrategies" id="1">
                    <ng-template ngbTabTitle>
                        <div (click)="scrollToElement(strategysection)">Strategies</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <hr>
                        <div class="strategy-section">
                            <app-strategy-list [strategies]="strategies" [moveToEnd]="hasNewStrategy" 
                                [parent]="this" style="width: 100%; display: grid;"></app-strategy-list>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="2">
                    <ng-template ngbTabTitle>
                        <div (click)="scrollToElement(strategysection)">Metrics</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <hr>
                        <app-metric [switcher]="getConfig().key"></app-metric>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </section>
    </div>
</block-ui>