.filter-member-style {
  white-space: nowrap;
  padding-top: 10px;
  display: flex;
}

.filter-input {
  width: 330px;
  padding-left: 1rem;
}

.mat-elevation-z8 {
  border: none;
  box-shadow: none;
}

.btn-element {
  margin-top: auto;
  margin-bottom: auto;
}

th,
.mat-mdc-paginator {
  background-color: rgb(251, 251, 251) !important;
}

td {
  word-wrap: anywhere;
}

@media only screen and (max-width: 560px) {
  .filter-member-style {
    white-space: unset;
    display: block;
  }

  .filter-input {
    width: 100%;
  }
}