<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">
                <img src="assets\switcherapi_management_white.png" style="width: 220px;" alt="Switcher Management logo"/>
            </h4>
            @if (!loading) {
            <div class="card-body">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Domain</mat-label>
                        <input matInput type="text" value="{{ domain }}" readonly="true">
                    </mat-form-field>
                </div>
                @if (!error) {
                <button mat-button class="btn-element" [disabled]="loading" (click)="onAccept()">
                    <img class="switcher-logo" src="assets\switcherapi_mark_white.png" style="width: 20px;" alt="Switcher API logo"/>
                    <span class="label-color" style="color: white; padding-left: 5px;">Accept</span>
                </button>
                }
                @if (error) {
                <div class="alert alert-danger mt-3 mb-0">{{ error }}</div>
                }
            </div>
            } @else {
            <div class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" style="transform: translate(0%,-145%);" alt="Switcher API logo"/>
            </div>
            }
        </div>
    </div>
</div>