<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div *ngIf="!loading && !error" [ngClass]="cardListContainerStyle" style="border: 0px; margin: 0px !important;">
    <div class="header-style">
        <div class="div-btn-new">
            <button mat-button class="btn-element create" (click)="createGroup()" [disabled]="!creatable">
                <mat-icon style="font-size: large;">build</mat-icon>
                <div class="options-section-label">Create New</div>
            </button>
        </div>
        <div *ngIf="!childEnvironmentEmitter" class="environment-style">
            <form [formGroup]="environmentSelection">
                <mat-form-field>
                    <mat-select #envSelectionChange placeholder="Environment selection" formControlName="environmentSelection">
                        <mat-option *ngFor="let environment of environments" [value]="environment.name">
                            {{environment.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngFor="let group of groups">
        <app-group-preview 
            [domainId]="domainId"
            [domainName]="domainName"
            [group]="group"
            [environmentSelectionChange]="environmentSelectionChange"
            [permissions]="permissions">
        </app-group-preview>
    </div>
</div>