@if (loading()) {
<div class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
}
@if (error()) {
<div class="alert alert-danger mt-3 mb-0">{{error()}}</div>
}
@if (!loading() && !error()) {
<div [ngClass]="cardListContainerStyle()" style="border: 0px; margin: 0px !important;">
    <div class="header-style">
        <div class="div-btn-new">
            <button mat-button class="btn-element create" (click)="createGroup()" [disabled]="!creatable()">
                <mat-icon style="font-size: large;">create</mat-icon>
                <div class="options-section-label">New Group</div>
            </button>
        </div>
        @if (!childEnvironmentEmitter) {
        <div class="environment-style">
            <form [formGroup]="environmentSelection">
                <mat-form-field>
                    <mat-label>Environment</mat-label>
                    <mat-select #envSelectionChange formControlName="environmentSelection">
                        @for (environment of environments; track environment.name) {
                        <mat-option [value]="environment.name">
                            {{environment.name}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        }
    </div>
    @for (group of groups(); track group) {
    <div>
        <app-group-preview 
            [domainId]="domainId"
            [domainName]="domainName"
            [group]="group"
            [environmentSelectionChange]="environmentSelectionChange"
            [permissions]="permissions()">
        </app-group-preview>
    </div>
    }
    @if (groups().length === 10 || skip > 0) {
    <div class="pagination">
        <button mat-button class="btn-element create nav" (click)="onPrevious()" disabled="{{skip === 0}}">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-button class="btn-element create nav" (click)="onNext()" disabled="{{groups().length < 10}}">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
    }
</div>
}