<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">
                <img src="assets\switcherapi_management_white.png" style="width: 220px;" alt="Switcher API" />
            </h4>
            <div class="card-body">
                <div class="panel-slack-detail">
                    <img src="assets\slack.svg" class="slack-img" style="width: 30px;" alt="Slack" />
                    <h3>Slack Integration</h3>
                </div>
                <hr/>
                <p class="card-text">
                    The Switcher Slack app is asking for your permission to link this domain to the Slack Workspace as identified below.
                </p>
            </div>
            @if (!loading()) {
            <div class="card-body">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Select Domain</mat-label>
                        <mat-select [formControl]="domainFormControl">
                            @for (domain of domains(); track domain) {
                            <mat-option [value]="domain">
                                {{ domain.name }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                @if (!error()) {
                <div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Slack Team</mat-label>
                            <input matInput type="text" value="{{ installation()?.team_name }}" readonly="true">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Slack Channel</mat-label>
                            <input matInput type="text" value="{{ installation()?.incoming_webhook_channel }}" readonly="true">
                        </mat-form-field>
                    </div>
                </div>
                }
                <div class="btn-container">
                    @if (!error()) {
                    <button mat-button class="btn-element" [disabled]="loading()" (click)="onDecline()">
                        <mat-icon>thumb_down</mat-icon>
                        <span style="color: white; padding-left: 5px;">Decline</span>
                    </button>
                    }
                    @if (!error()) {
                    <button mat-button class="btn-element white" [disabled]="loading()" (click)="onAuthorize()">
                        <mat-icon style="color: black;">thumb_up</mat-icon>
                        <span style="color: black; padding-left: 5px;">Authorize</span>
                    </button>
                    }
                </div>
                @if (error()) {
                <div class="alert alert-danger mt-3 mb-0">{{ error() }}</div>
                }
            </div>
            } @else {
            <div class="card-body loader-div">
                <div class="loader"></div>
                <img class="switcher-logo" src="assets\switcherapi_mark_grey.png" width="60" style="transform: translate(0%,-145%);" alt="Switcher API" />
            </div>
            }
        </div>
    </div>
</div>