<app-block-ui [isBlocked]="blockuiEnabled" [message]="blockuiMessage" [showSpinner]="true">
    <div class="detail-body">
        <section class="{{ team.active ? 'header activated' : 'header deactivated' }}">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput readonly="{{!editing}}" 
                            [ngStyle]="editing ? {'color': 'black'} : ''" 
                            [formControl]="nameFormControl"
                            autocomplete="off">
                    </mat-form-field>
                    <mat-error *ngIf="nameFormControl.hasError('minlength')">
                        Name must contains at least 2 characters
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </div>
                <div class="options-section">
                    <div class="toggle-section">
                        <mat-slide-toggle [checked]="team.active" [ngClass]="updatable ? 'toggle-style' : 'toggle-style deactivated'" 
                            (change)="changeStatus($event)" [disabled]="!updatable">
                        </mat-slide-toggle>
                    </div>
                    <button mat-button class="btn-element btn-edit" (click)="selectTeam()">
                        <mat-icon>visibility</mat-icon>
                        <div class="options-section-label">View</div>
                    </button>
                    <button mat-button [ngClass]="editing ? 'btn-element save btn-edit' : 'btn-element btn-edit'" (click)="edit()" [disabled]="!updatable">
                        <mat-icon style="font-size: large;">build</mat-icon>
                        <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                    </button>
                    <button mat-button class="btn-element btn-remove btn-red" (click)="removeTeam()" [disabled]="!removable">
                        <mat-icon>delete</mat-icon>
                        <div class="options-section-label">Remove</div>
                    </button>
                </div>
            </div>
        </section>
    </div>
</app-block-ui>