.grid-container.activated {
  display: grid;
  grid-template-areas:
    'header empty empty empty empty';
  grid-gap: 2px;
  background-color: rgba(0, 0, 0, .03);
  padding: 2px;
  background: linear-gradient(to right, #549bfb 0, #549bfb, #5298ff 10px, #fff 100%) no-repeat;
}

.grid-container.deactivated {
  display: grid;
  grid-template-areas:
    'header empty empty empty empty';
  grid-gap: 2px;
  background-color: rgba(0, 0, 0, .03);
  padding: 2px;
  background: linear-gradient(to right, #9e9e9e 0, #9e9e9e, #9e9e9e 10px, #fff 100%) no-repeat;
}

@media only screen and (max-width: 800px) {
  .header-section {
    width: 100%;
  }
}