.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.mat-calendar-period-button {
  color: black !important
}

@media only screen and (max-width: 430px) {
  .options-section-label {
    display: none;
  }

  .mat-mdc-button .mat-icon {
    margin-right: unset !important;
    margin-left: unset !important;
  }
}