<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="dialog-header">
        <span>Filter</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <mat-form-field class="filter-env-selector">
                    <mat-label>Environment</mat-label>
                    <mat-select [formControl]="environmentSelection">
                        <mat-option *ngFor="let environment of environments" [value]="environment.name">
                            {{environment.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <element-autocomplete
                    [parentComponent]="this" 
                    [value]="selectedFilter" 
                    [lockFilter]="lockFilter">
                </element-autocomplete>
                <mat-form-field *ngIf="selectedFilter" class="filter-env-selector">
                    <mat-label>Group By</mat-label>
                    <mat-select [(ngModel)]="dateGroupPattern">
                        <mat-option value="YYYY-MM">Month</mat-option>
                        <mat-option value="YYYY-MM-DD">Day</mat-option>
                        <mat-option value="YYYY-MM-DD HH">Hour</mat-option>
                        <mat-option value="YYYY-MM-DD HH:mm">Minute</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="filter-date-selector">
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="fromPicker" [formControl]="dateAfterFormControl">
                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="filter-date-selector">
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="toPicker" [formControl]="dateBeforeFormControl">
                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                    <mat-datepicker #toPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="justify-content: end;">
    <button class="btn-save" mat-button (click)="onFilter(data)" cdkFocusInitial>
        <mat-icon>filter_list</mat-icon>
        <div class="options-section-label"> Filter</div>
    </button>
    <button class="btn-save" mat-button (click)="onCleanFilter(data)">
        <mat-icon>restore_from_trash</mat-icon>
        <div class="options-section-label"> Clear</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>