<div class="header activated searchdocs-item">
    <h3 class="doc-title"><strong>File: </strong>
        - <a (click)="gotoDocument(searchDocsResult.file)">{{ searchDocsResult.file }}</a> -
        <strong>Found: </strong>{{ searchDocsResult.found }}</h3>
    <div class="spacer"></div>
    <div class="segment-list" *ngFor="let segment of searchDocsResult?.segment; let i = index">
        <markdown>{{renderSegment(segment, searchDocsResult.file)}}</markdown>
        <div *ngIf="i < searchDocsResult?.segment.length - 1" class="spacer-segment"></div>
    </div>
</div>