<div class="header activated searchdocs-item">
    <h3 class="doc-title"><strong>File: </strong>
        - <a (click)="gotoDocument(searchDocsResult.file)">{{ searchDocsResult.file }}</a> -
        <strong>Found: </strong>{{ searchDocsResult.found }}</h3>
    <div class="spacer"></div>
    @for (segment of searchDocsResult?.segment; track $index) {
    <div class="segment-list">
        <markdown>{{renderSegment(segment, searchDocsResult.file)}}</markdown>
        @if ($index < searchDocsResult?.segment.length - 1) {
        <div class="spacer-segment"></div>
        }
    </div>
    }
</div>