.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.group-list {
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 360px) {
  .options-section-label {
    display: none;
  }
}