<block-ui>
    <div *ngIf="loading" class="card-body loader-div">
        <div class="loader"></div>
        <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
    </div>
    <div [ngClass]="loading ? 'loading' : detailBodyStyle">
        <section [ngClass]="classStatus">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <input matInput placeholder="Name" [value]="domain?.name" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea #descElement matInput placeholder="Description" [value]="domain?.description" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <input matInput placeholder="Created At" [value]="domain?.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Update" [value]="domain?.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Created By" [value]="createdBy" readonly>
                    </mat-form-field>
                </div>
                <div class="description">
                    <app-environment-config *ngIf="domain"
                        [enable]="envEnable"
                        [domainId]="domain.id" 
                        [configuredEnvironments]="domain.activated"
                        (outputEnvChanged)="onEnvChange($event)"
                        (outputStatusChanged)="onEnvStatusChanged($event)"
                        (outputEnvRemoved)="onEnvRemoved($event)">
                    </app-environment-config>
                </div>
            </div>
        </section>
        <section>
            <div class="options-section" style="float: left;">
                <button *ngIf="collabUser" mat-button class="btn-element" style="background:#fb5454;" (click)="leaveDomain()">
                    <mat-icon style="font-size: large;">remove_circle</mat-icon>
                    <div class="options-section-label">Leave</div>
                </button>
            </div>
            <div class="options-section">
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" style="background:#fb5454;" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
    </div>
</block-ui>