<div class="detail-body">
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <mat-form-field>
                    <input matInput placeholder="Name" value="{{getDomain().name}}" readonly>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Description" readonly>{{getDomain().description}}</textarea>
                </mat-form-field>
            </div>
            <div class="description">
                <mat-form-field>
                    <input matInput placeholder="Created At" value="{{getDomain().createdAt}}" readonly>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Update" value="{{getDomain().updatedAt}}" readonly>
                </mat-form-field>
            </div>
        </div>
    </section>
    <section>
        <div class="options-section">
            <button mat-button class="btn-element" (click)="selectGroup()">
                <svg class="bi bi-toggles" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" class="svg-style" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.5 3h-7a2.5 2.5 0 000 5h7a2.5 2.5 0 000-5zm-7-1a3.5 3.5 0 100 7h7a3.5 3.5 0 100-7h-7zm0 9a3.5 3.5 0 100 7h7a3.5 3.5 0 100-7h-7zm7 6a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M10 5.5a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0zM6.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"></path>
                </svg>Generate API Key
            </button>
        </div>
    </section>
</div>