.filter-role-style {
  white-space: nowrap;
  display: block;
  padding-top: 10px;
}

.filter-input {
  float: left;
  width: 330px;
  padding-right: 20px;
}

.mat-elevation-z8 {
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 420px) {
  .mat-elevation-z8 {
    display: grid;
  }

  .table-header-resize {
    width: 80px;
  }
}