h4 {
  color: #fff;
  background-color: rgb(66, 71, 77);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.backgroud-style {
  background: #24292e !important;
  padding-top: 0;
  padding-bottom: 0;
}

.svg-style {
  margin-right: 6px;
  margin-bottom: 6px;
}

.router-history {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: larger;
  color: #24292e;
  font-weight: bold;
}

.div-router-history {
  padding-left: 16px;
  padding-top: 8px;
  display: -webkit-inline-box;
}

.btn-element {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: xx-large;
  color: #24292e;
}

.btn-add-element {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: xx-large;
  color: #549bfb;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    display: block;
  }

  .navbar-toggler {
    float: right;
  }

  .backgroud-style {
    background: #24292e !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
