<block-ui>
<div class="container" >
    <div class="container, card mt-4">
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <h4 class="card-header" *ngIf="getCurrentRoute()">
            <div *ngIf="getTitle() as title">
                <mat-icon *ngIf="icon === 0">receipt</mat-icon>
                <mat-icon *ngIf="icon === 1"> bar_chart</mat-icon>
                <mat-icon *ngIf="icon === 2">receipt</mat-icon>
                <mat-icon *ngIf="icon === 3">devices_other</mat-icon>
                <mat-icon *ngIf="icon === 4"> apps</mat-icon>
                <svg *ngIf="icon === 5" class="bi bi-tools" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" class="svg-style" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 3l1-1 3.081 2.2a1 1 0 01.419.815v.07a1 1 0 00.293.708L12.5 11.5l.914-.305a1 1 0 011.023.242l3.356 3.356a1 1 0 010 1.414l-1.586 1.586a1 1 0 01-1.414 0l-3.356-3.356a1 1 0 01-.242-1.023l.305-.914-5.707-5.707a1 1 0 00-.707-.293h-.071a1 1 0 01-.814-.419L2 3zm11.354 9.646a.5.5 0 00-.708.708l3 3a.5.5 0 00.708-.708l-3-3z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M17.898 4.223a3.003 3.003 0 01-3.679 3.674L7.878 14.15a3 3 0 11-2.027-2.027l6.252-6.341a3 3 0 013.675-3.68l-2.142 2.142L14 6l1.757.364 2.141-2.141zm-13.37 9.019L5 13l.471.242.529.026.287.445.445.287.026.529L7 15l-.242.471-.026.529-.445.287-.287.445-.529.026L5 17l-.471-.242L4 16.732l-.287-.445L3.268 16l-.026-.529L3 15l.242-.471.026-.529.445-.287.287-.445.529-.026z" clip-rule="evenodd"></path>
                </svg>
                <mat-icon *ngIf="icon === 6"> people</mat-icon>
                {{ title }}

                <button mat-button [matMenuTriggerFor]="belowMenu" style="float:right">
                    <mat-icon> list_alt</mat-icon>
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="onDownloadSnapshot()">
                        <mat-icon>cloud_download</mat-icon>
                        Download Snapshot
                    </button>
                    <button *ngIf="transferLabel" mat-menu-item (click)="onDomainTransfer()">
                        <mat-icon>next_week</mat-icon>
                        {{ transferLabel }}
                    </button>
                </mat-menu>
            </div>
        </h4>
        <nav id="navbarMenu" class="navbar navbar-expand-lg navbar-dark bg-dark backgroud-style sticky">
            <a (click)="gotoListChildren()">
                <mat-icon id="iconListChildren" style="color: white;" matTooltip="{{ getLabelListChildren() }}">format_list_bulleted</mat-icon>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" (click)="navToggled()"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Domain menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" (click)="gotoDetails()">Details</a>
                    <a class="nav-item nav-link" (click)="gotoListChildren()">{{ getLabelListChildren() }}</a>
                    <a class="nav-item nav-link" routerLink="/dashboard/domain/metrics" >Metrics</a>
                    <a class="nav-item nav-link" routerLink="/dashboard/domain/change-log">Change Log</a>
                    <a class="nav-item nav-link" routerLink="/dashboard/domain/components">Components</a>
                    <a class="nav-item nav-link" routerLink="/dashboard/domain/environments">Environments</a>
                    <a class="nav-item nav-link" routerLink="/dashboard/domain/team">Teams</a>
                </div>
                <element-autocomplete class="element-filter" [parentComponent]="this"></element-autocomplete>
            </div>
        </nav>

        <div>
            <div class="div-router-history">
                <a class="router-history" [routerLink]=selectedDomain?.path [state]="{ element: getDomainElement() }">
                    <span class="badge"></span>{{ selectedDomain?.name }}
                </a>
                <a *ngIf="showPath('Group')" class="router-history" [routerLink]=selectedGroup?.path [state]="{ element: getGroupElement() }">
                    / <span class="badge"></span>{{ selectedGroup?.name }}
                </a>
                <a *ngIf="showPath('Config')"  class="router-history" [routerLink]=selectedConfig?.path [state]="{ element: getConfigElement() }">
                    / <span class="badge"></span>{{ selectedConfig?.name }}
                </a>
            </div>
        </div>

        <div class="card-body" style="padding-top: 0px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</block-ui>