<div class="card mt-4">
    <h4 class="card-header" *ngIf="getCurrentRoute()">{{ getTitle() }}</h4>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" (click)="gotoDetails()">Details</a>
            <a class="nav-item nav-link" (click)="gotoListChildren()">{{ getLabelListChildren() }}</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/metrics">Metrics</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/change-log">Change Log</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/components">Components</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/environments">Environments</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/team">Teams</a>
            <a class="nav-item nav-link" routerLink="/dashboard/domain/lab">Lab</a>
        </div>
    </nav>

    <div>
        <a *ngIf="getDomain()" [routerLink]=getDomain().path [state]="{ element: getDomainElement() }">
            <span class="badge"></span>{{ getDomain().name }}
        </a>
        <a *ngIf="getGroup()" [routerLink]=getGroup().path [state]="{ element: getGroupElement() }">
            / <span class="badge"></span>{{ getGroup().name }}
        </a>
        <a *ngIf="getConfig()" [routerLink]=getConfig().path [state]="{ element: getConfigElement() }">
            / <span class="badge"></span>{{ getConfig().name }}
        </a>
    </div>

    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>