<app-block-ui [isBlocked]="blockuiEnabled()" [message]="blockuiMessage()" [showSpinner]="true">
<div class="container" >
    <div class="container, card mt-4">
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <h4 class="card-header">
            <div>
                @if (icon() === 0) {
                <mat-icon>receipt</mat-icon>
                }
                @if (icon() === 1) {
                <mat-icon> bar_chart</mat-icon>
                }
                @if (icon() === 2) {
                <mat-icon>receipt</mat-icon>
                }
                @if (icon() === 3) {
                <mat-icon>devices_other</mat-icon>
                }
                @if (icon() === 4) {
                <mat-icon> apps</mat-icon>
                }
                @if (icon() === 6) {
                <mat-icon> people</mat-icon>
                }
                {{ title() }}

                <button id="domainOptions" mat-button [matMenuTriggerFor]="belowMenu" style="float:right">
                    <mat-icon> list_alt</mat-icon>
                    Menu
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <div style="margin-bottom: .5rem; border-bottom: 1px solid rgba(179,179,179,.1); width: 100%;">
                        <span style="margin-left: 1rem; color: #6c757d;">Domain</span>
                    </div>
                    <button mat-menu-item (click)="onDownloadSnapshot()" style="outline: none;">
                        <mat-icon>cloud_download</mat-icon>
                        Download Snapshot
                    </button>
                    @if (transferLabel()) {
                    <button mat-menu-item (click)="onDomainTransfer()">
                        <mat-icon>next_week</mat-icon>
                        {{ transferLabel() }}
                    </button>
                    }
                    <div style="margin-bottom: .5rem; border-bottom: 1px solid rgba(179,179,179,.1); width: 100%;">
                        <span style="margin-left: 1rem; color: #6c757d;">Integrations</span>
                    </div>
                    <div>
                        <button mat-menu-item (click)="gotoGitOpsIntegration()">
                            <img src="assets\gitops.png" style="width: 26px; margin-right: .5rem;" alt="GitOps" />
                            Switcher GitOps
                        </button>
                    </div>
                    @if (hasSlackIntegration()) {
                    <div>
                        @if (hasSlackInstalled()) {
                        <button mat-menu-item (click)="gotoSlackIntegration()">
                            <img src="assets\slack.svg" style="width: 25px; margin-right: .5rem;" alt="Slack" />
                            Slack App
                        </button>
                        }
                        @if (!hasSlackInstalled() && canInstallSlack()) {
                        <a mat-menu-item style="text-decoration: none;"
                            href="{{ getSlackUrl() }}" target="_parent">
                            <img src="assets\slack.svg" style="width: 25px; margin-right: .5rem;" alt="Slack" />
                            Install Slack App
                        </a>
                        }
                    </div>
                    }
                </mat-menu>
            </div>
        </h4>
        <nav id="navbarMenu" class="navbar navbar-expand-lg navbar-dark bg-dark backgroud-style sticky">
            <a (click)="gotoListChildren()">
                <mat-icon id="iconListChildren" style="color: white;" matTooltip="{{ getLabelListChildren() }}">format_list_bulleted</mat-icon>
            </a>
            <app-element-autocomplete class="element-filter mobile-only" [parentComponent]="this"></app-element-autocomplete>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" (click)="navToggled()"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Domain menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav nav-item-hidden">
                    <a class="nav-item nav-link" (click)="gotoDetails()">Details</a>
                    <a class="nav-item nav-link" (click)="gotoListChildren()">{{ getLabelListChildren() }}</a>
                    <a class="nav-item nav-link" (click)="gotoMetrics()">Metrics</a>
                    <a class="nav-item nav-link" (click)="gotoChangeLog()">Change Log</a>
                    <a class="nav-item nav-link" (click)="gotoComponents()">Components</a>
                    <a class="nav-item nav-link" (click)="gotoEnvironments()">Environments</a>
                    <a class="nav-item nav-link" (click)="gotoTeams()">Teams</a>
                </div>

                <div class="navbar-nav nav-menu-hidden">
                    <a class="nav-item nav-link" (click)="gotoDetails()" 
                         data-bs-toggle="collapse" data-bs-target="#navbarContent">Details</a>
                    <a class="nav-item nav-link" (click)="gotoListChildren()" 
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">{{ getLabelListChildren() }}</a>
                    <a class="nav-item nav-link" (click)="gotoMetrics()"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">Metrics</a>
                    <a class="nav-item nav-link" (click)="gotoChangeLog()" 
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">Change Log</a>
                    <a class="nav-item nav-link" (click)="gotoComponents()"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">Components</a>
                    <a class="nav-item nav-link" (click)="gotoEnvironments()"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">Environments</a>
                    <a class="nav-item nav-link" (click)="gotoTeams()"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">Teams</a>
                </div>
                <app-element-autocomplete class="element-filter non-mobile-only" [parentComponent]="this"></app-element-autocomplete>
            </div>
        </nav>

        @if (loading()) {
        <div class="div-router-history loading-spinner">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
        } @else {
        <div class="div-router-history">
            @if (domain()) {
            <a class="router-history" (click)="gotoDetails(selectedDomainPath)">
                <span class="badge"></span>{{ domain()!.name }}
            </a>
            }
            @if (group()) {
            <a class="router-history" (click)="gotoDetails(selectedGroupPath)">
                / <span class="badge"></span>{{ group()!.name }}
            </a>
            }
            @if (config()) {
            <a class="router-history" (click)="gotoDetails(selectedConfigPath)">
                / <span class="badge"></span>{{ config()!.key }}
            </a>
            }
        </div>
        }

        <div class="card-body" style="padding-top: 0px;">
            <hr/>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</app-block-ui>