<h4 mat-dialog-title>
    <mat-toolbar class="dialog-header">
        <span>Update Token(s)</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <mat-form-field>
                    <mat-label>Environment selection</mat-label>
                    <mat-select cdkFocusInitial multiple [formControl]="formGroup.get('environment')">
                        <mat-option *ngFor="let environment of environments" [value]="environment">
                            {{environment}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Token</mat-label>
                    <input matInput [formControl]="formGroup.get('token')">
                </mat-form-field>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)" cdkFocusInitial>
        <mat-icon>save</mat-icon>
        <div class="options-section-label"> Update</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Cancel</div>
    </button>
</div>