<h4 mat-dialog-title>
    <mat-toolbar class="dialog-header">
        @if (!data.apiKey) {
        <span>Edit Component</span>
        }
        @if (data.apiKey) {
        <span>Component API Access</span>
        }
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    @if (!data.apiKey) {
    <div>
        <mat-form-field>
            <input matInput special-chars #inputName [(ngModel)]="data.name" 
                minlength="2" maxlength="20" cdkFocusInitial autocomplete="off">
        </mat-form-field>
    </div>
    }
    @if (data.apiKey) {
    <div>
        <mat-form-field>
            <mat-label>API Key</mat-label>
            <textarea matInput [(ngModel)]="data.apiKey" style="color: black" readonly>
            </textarea>
            <mat-hint align="end"><strong style="color: red;">Keep this key in a safe place</strong></mat-hint>
        </mat-form-field>
    </div>
    }
</div>
@if (!data.apiKey) {
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)" [disabled]="data.name.length < 2">
        <mat-icon>save</mat-icon>
        <div class="options-section-label"> Save</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>
}
@if (data.apiKey) {
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="copyKey()" [cdkCopyToClipboard]="data.apiKey" cdkFocusInitial>
        <mat-icon>file_copy</mat-icon>
        <div class="options-section-label"> Copy to clipboard</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>
}