@if (loading()) {
<div class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
</div>
}
@if (error()) {
<div class="alert alert-danger mt-3 mb-0">{{error()}}</div>
}
<div [ngClass]="classStatus()">
    <div class="header-style">
        <div style="display: contents;">
            <button mat-button class="btn-element create" (click)="createComponent()" [disabled]="inputComponentName.value.length < 2 || !creatable()">
                @if (creating()) {
                <mat-icon><mat-spinner [diameter]="20"></mat-spinner></mat-icon>
                } @else {
                <mat-icon style="font-size: large;">create</mat-icon>
                }
                Create
            </button>
            <mat-form-field class="input-name">
                <mat-label>Component name</mat-label>
                <input #inputComponentName matInput maxlength="30"  
                    special-chars [formControl]="compFormControl" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    @if (!loading()) {
    <div>
        @for (component of filteredComponents(); track component) {
        <div class="grid-container">
            <label class="label-env-name" for="inputComponentName">
                <mat-icon>devices_other</mat-icon>
                {{ component.name }}
            </label>
            <div class="toggle-section">
                <button mat-button class="btn-element btn-red remove" style="order: 1;" (click)="removeComponent(component)" [disabled]="!removable()">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
                <button mat-button class="btn-element reset" (click)="generateApiKey(component)" [disabled]="!updatable()">
                    <mat-icon> vpn_key</mat-icon>
                    <div class="options-section-label">Generate API Key</div>
                </button>
                <button mat-button class="btn-element reset" (click)="editComponent(component)" [disabled]="!updatable()">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">Edit</div>
                </button>
            </div>
        </div>
        }
    </div>
    }
</div>