<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div *ngIf="!error && !loading" [ngClass]="classStatus" style="border: 0px; margin: 0px !important;">
    <div class="header-style">
        <div style="display: flex;">
            <button mat-button class="btn-element create" (click)="createComponent()" [disabled]="inputComponentName.value.length < 2 || !creatable">
                <mat-icon style="font-size: large;">build</mat-icon>
                Create
            </button>
            <mat-form-field style="padding-left: 14px;">
                <input #inputComponentName matInput placeholder="Component name" maxlength="30"  
                special-chars [formControl]="compFormControl" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngFor="let component of components">
            <div class="grid-container">
                <label class="label-env-name">
                    <mat-icon>devices_other</mat-icon>
                    {{ component.name }}
                </label>
                <div class="toggle-section">
                    <button mat-button class="btn-element reset" (click)="generateApiKey(component)" [disabled]="!updatable">
                        <mat-icon> vpn_key</mat-icon>
                        <div class="options-section-label">Generate API Key</div>
                    </button>
                    <button mat-button class="btn-element reset" (click)="editComponent(component)" [disabled]="!updatable">
                        <mat-icon style="font-size: large;">build</mat-icon>
                        <div class="options-section-label">Edit</div>
                    </button>
                    <button mat-button class="btn-element remove" (click)="removeComponent(component)" [disabled]="!removable">
                        <mat-icon>delete</mat-icon>
                        <div class="options-section-label">Remove</div>
                    </button>
                </div>
            </div>  
        </div>
    </div>
</div>