<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">
                <img src="assets\switcherapi_management_white.png" style="width: 220px;" alt="Switcher API"/>
            </h4>
            <div *ngIf="!loading" class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="!success" class="form-group">
                        <p *ngIf="forgotPassword">To reset your password, please provide your email so we can send you the reset instructions.</p>
                        <mat-form-field *ngIf="hasInternalAuthEnabled()">
                            <input matInput type="email" id="email" (keyup)="onKey($event)" maxlength="50"
                                placeholder="E-mail" autocomplete="off" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!forgotPassword" class="form-group">
                        <mat-form-field *ngIf="hasInternalAuthEnabled()">
                            <input matInput type="password" id="password" (keyup)="onKey($event)" maxlength="50"
                                placeholder="Password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!forgotPassword" class="btn-container">
                        <button *ngIf="hasInternalAuthEnabled()" mat-button class="btn-element" [disabled]="loading">
                            <img class="switcher-logo" src="assets\switcherapi_mark_white.png" style="width: 20px;" alt="Switcher API" />
                            <span class="label-color" style="color: white; padding-left: 5px;">Login</span>
                        </button>
                        <button *ngIf="hasGithubIntegration()" type="button" 
                            mat-button class="btn-element white" [disabled]="loading" (click)="onGitHubLogin()">
                            <img src="assets\github.svg" style="width: 20px;" alt="GitHub" />
                            <span style="color: black; padding-left: 5px;">GitHub</span>
                        </button>
                        <button *ngIf="hasBitbucketIntegration()" type="button" 
                            mat-button class="btn-element white" [disabled]="loading" (click)="onBitBucketLogin()">
                            <img src="assets\bitbucket.svg" style="width: 20px;" alt="Bitbucket" />
                            <span style="color: black; padding-left: 5px;">Bitbucket</span>
                        </button>
                    </div>
                    <div *ngIf="forgotPassword && !success" class="btn-container">
                        <button mat-button class="btn-element" (click)="onSendResetPassord()">
                            <img class="switcher-logo" src="assets\switcherapi_mark_white.png" style="width: 20px;" alt="Switcher API" />
                            <span style="color: white; padding-left: 5px;" title="Send reset instructions">Reset</span>
                        </button>
                    </div>
                    <a *ngIf="!forgotPassword && hasInternalAuthEnabled()" class="label-link" (click)="onForgotPassword()">Forgot password?</a>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <div *ngIf="status" class="alert alert-danger mt-3 mb-0">{{status}}</div>
                    <div *ngIf="success">
                        <p><strong>Reset Password</strong></p>
                        <p>If we found an account associated with that email, an email must be delivered to your inbox in a few seconds.</p>
                        <div class="alert alert-success">{{success}}</div>
                    </div>
                </form>
            </div>
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" style="transform: translate(0%,-145%);" alt="Switcher API" />
            </div>
            <app-version [apiVersion]="apiVersion"></app-version>
        </div>
    </div>
</div>