<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">
                <img src="assets\switcherapi_management_white.png" style="width: 220px;"/>
            </h4>
            <div *ngIf="!loading" class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="email" id="email" (keyup)="onKey($event)" maxlength="50"
                                placeholder="E-mail" autocomplete="off" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="password" id="password" (keyup)="onKey($event)" maxlength="50"
                                placeholder="Password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                    <button mat-button class="btn-element" [disabled]="loading">
                        Login
                    </button>
                    <button type="button" mat-button class="btn-element white" [disabled]="loading" (click)="onGitHubLogin()">
                        <img src="assets\github.svg" style="width: 20px;"/>
                        <span style="color: black; padding-left: 5px;">GitHub</span>
                        <div class="new-feature">
                            <p class="new-feature-text">New</p>
                        </div>
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" style="transform: translate(0%,-145%);"/>
            </div>
        </div>
    </div>
</div>