.filter-permission-style {
  white-space: nowrap;
  padding-top: 10px;
  display: flex;
}

.filter-input {
  width: 330px;
  padding-left: 1rem;
}

.mat-elevation-z8 {
  border: none;
  box-shadow: none;
}

.btn-element {
  margin-top: auto;
  margin-bottom: auto;
}

.permission-header {
  width: 10%;
}

th,
.mat-mdc-paginator {
  background-color: rgb(251, 251, 251) !important;
}

@media only screen and (max-width: 780px) {
  td {
    vertical-align: middle !important;
    padding: inherit;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .mat-elevation-z8 {
    display: grid;
  }

  .table-header-resize {
    width: 80px;
  }

  .filter-permission-style {
    white-space: unset;
    display: block;
  }

  .filter-input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  th {
    display: none;
  }
}