<block-ui>
    <div class="detail-body">
        <section [ngClass]="classStatus" style="width: 100%;">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field class="operations-style">
                        <input *ngIf="!editing" matInput class="readonly-fields" placeholder="Operation Name" [value]="strategy.operation" readonly>
                        <mat-select *ngIf="editing" placeholder="Operation Name" [formControl]="operationCategoryFormControl">
                            <mat-option *ngFor="let operation of strategyOperations" [value]="operation">
                                {{operation}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea #descElement matInput class="readonly-fields" placeholder="Description" [value]="strategy?.description" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="readonly-fields" placeholder="Created At" [value]="strategy.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="readonly-fields" placeholder="Last Update" [value]="strategy.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput class="readonly-fields" placeholder="Created By" [value]="createdBy" readonly>
                    </mat-form-field>
                </div>
                <div id="srategyValueSection">
                    <mat-card style="margin-top: 10px;">
                        <mat-card-header>
                        <mat-card-subtitle>Values</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content style="overflow-y: scroll; height: 180px;">
                            <mat-selection-list #strategyValueSelection>
                                <mat-list-option *ngFor="let value of strategy.values" [value]="value">
                                    {{value}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                        <mat-form-field style="width: 100%;">
                            <input #inputValue matInput placeholder="Selected" maxlength="20" [formControl]="valueSelectionFormControl" 
                                matTooltip="{{ strategyFormatSelected }}">
                            <mat-error *ngIf="valueSelectionFormControl.dirty && valueSelectionFormControl.errors">
                                Please, check the value format
                            </mat-error>
                        </mat-form-field>
                        <div class="strategy-values-control">
                            <button mat-button class="btn-element" (click)="addValue(inputValue.value)" 
                                [disabled]="inputValue.value.length === 0 || !updatable">
                                <mat-icon style="vertical-align: text-bottom;">add_to_queue</mat-icon>
                                <div class="options-section-label"> Add</div>
                            </button>
                            <button mat-button class="btn-element" (click)="editValue(strategyValueSelection.selectedOptions.selected[0]?.value, inputValue.value)" 
                                [disabled]="!strategyValueSelection.selectedOptions.selected[0]?.value || !updatable">
                                <mat-icon style="vertical-align: text-bottom;">sync</mat-icon>
                                <div class="options-section-label"> Update</div>
                            </button>
                            <button mat-button class="btn-element" (click)="removeValue(strategyValueSelection.selectedOptions.selected[0]?.value)" 
                                [disabled]="!strategyValueSelection.selectedOptions.selected[0]?.value || !updatable">
                                <mat-icon style="vertical-align: text-bottom;">remove_from_queue</mat-icon>
                                <div class="options-section-label"> Remove</div>
                            </button>
                        </div>
                    </mat-card>
                </div>
                <div class="description">
                    <app-environment-config #envSelectionChange [currentEnvironment]="strategy?.activated"
                        [notSelectableEnvironments]="true"></app-environment-config>
                </div>
            </div>
        </section>
        <section class="strategy-control-style">
            <div class="options-section">
                <button mat-button class="btn-element" (click)="showChangeLog()">
                    <mat-icon>receipt</mat-icon>
                    <div class="options-section-label">Change Log</div>
                </button>
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" (click)="cloneStrategy()" [disabled]="!updatable">
                    <mat-icon>file_copy</mat-icon>
                    <div class="options-section-label">Clone Strategy</div>
                </button>
                <button mat-button class="btn-element" style="background: #fb5454;" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
    </div>
</block-ui>