.operations-style {
  width: 350px !important; 
  margin-top: 10px;
}

.values-section {
  width: 350px;
  padding-left: 10px;
}

.readonly-fields {
  color: #666;
}

@media only screen and (max-width: 600px) {
  .options-section {
    float: right;
    display: contents;
  }

  .operations-style {
    margin-top: 10px;
  }

  :host /deep/ .mat-form-field-wrapper {
    width: 90%;
  }
}
