table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #5298ff45;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail-panel {
  overflow: hidden;
  display: flex;
}

.element-detail {
  padding: 10px;
  width: 100%;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.mat-header-row {
  background: #549bfb94;
}

.mat-elevation-z8 {
  border: 1px solid #cccccc80;
  box-shadow: none;
}

.mat-header-cell {
  color: white;
  font-size: unset;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* fix layout issues */
:host /deep/ .mat-paginator-container {
  min-height: auto;
}

.tablelog-footer {
  columns: 2;
  background: white;
}

@media only screen and (max-width: 450px) {
  .hide-on-mobile {
    display: none;
  }

  .tablelog-footer {
    display: contents;
  }
}
