<mat-form-field *ngIf="dataSource">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" autocomplete="off">
</mat-form-field>

<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
</div>
<div [ngClass]="classStatus">
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" aria-describedby="changelog-table"
        multiTemplateDataRows class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="newValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Change</th>
            <td mat-cell *matCellDef="let element">{{ formatResumedData(element.newValue) }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{ formatDateContent(element.date) }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
            <th class="hide-on-mobile" mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
            <td class="hide-on-mobile" mat-cell *matCellDef="let element">{{ element.updatedBy }}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="dataColumns.length">
                <div class="element-detail-panel"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="element-detail">
                        <h1>Before</h1>
                        <mat-list role="list" *ngFor="let key of getElementKeys(element.oldValue)">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="{{key}}" [value]="getElementValue(key, element.oldValue)"
                                    readonly autocomplete="off">
                            </mat-form-field>
                        </mat-list>
                    </div>
                    <div class="element-detail">
                        <h1>After</h1>
                        <mat-list role="list" *ngFor="let key of getElementKeys(element.newValue)">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="{{key}}" [value]="getElementValue(key, element.newValue)"
                                    readonly autocomplete="off">
                            </mat-form-field>
                        </mat-list>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: dataColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <div class="tablelog-footer">
        <button mat-button class="btn-element" style="background:#fb5454;" 
            (click)="resetHistory()" 
            [disabled]="!dataSource?.data?.length || !removable">
            Reset
        </button>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </div>
</div>