<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
<div [ngClass]="detailBodyStyle">
    <div class="panel-slack-detail">
        <img src="assets\slack.svg" class="slack-img" style="width: 30px;" alt="slack" />
        <h3>Slack Integration</h3>
    </div>
    <div class="container-fluid content-row">
        <div class="row">
            <div class="col-sm-6">
                <div class="card h-100">
                    <div *ngIf="slack" class="card-body">
                        <h5 class="card-title">Details</h5>
                        <div class="description">
                            <mat-form-field>
                                <mat-label>Team Name</mat-label>
                                <input matInput [value]="slack.team_name" readonly>
                            </mat-form-field>
                        </div>
                        <div class="description">
                            <mat-form-field>
                                <mat-label>Approval Channel</mat-label>
                                <input matInput [value]="slack.channel" readonly>
                            </mat-form-field>
                        </div>
                        <div class="description">
                            <mat-form-field>
                                <mat-label>Installed At</mat-label>
                                <input matInput [value]="slack.installed_at * 1000 | date:'medium'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="description">
                            <a class="ticket_stats" style="text-align: center;" title="Clean opened tickets" (click)="onResetTicketsHistory()">
                                <mat-icon>fiber_new</mat-icon> {{slack.tickets_opened}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Settings</h5>
                        <app-slack-settings></app-slack-settings>

                        <div class="options-section">
                            <button *ngIf="slackUpdate" mat-button class="btn-element" (click)="onUpdate()">
                                <mat-icon style="font-size: large;">build</mat-icon>
                                <div class="options-section-label">Update</div>
                            </button>
                            <button mat-button class="btn-element btn-red" (click)="onUninstall()">
                                <mat-icon>cloud_off</mat-icon>
                                <div class="options-section-label">Uninstall</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>