<app-block-ui [isBlocked]="blockuiEnabled" [message]="blockuiMessage" [showSpinner]="true">
    @if (loading) {
    <div class="card-body loader-div">
        <div class="loader"></div>
        <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="Switcher API logo"/>
    </div>
    }
    <div [ngClass]="detailBodyStyle">
        <section [ngClass]="classStatus">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input #nameElement matInput [value]="group?.name" maxlength="30"
                            [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}" [formControl]="nameFormControl" autocomplete="off">
                        
                        @if (nameFormControl.hasError('minlength')) {
                        <mat-error>
                            Name must contains at least 5 characters
                        </mat-error>
                        }
                        @if (nameFormControl.hasError('required')) {
                        <mat-error>
                            Name is <strong>required</strong>
                        </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea #descElement matInput [value]="group?.description" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="3" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <mat-label>Created At</mat-label>
                        <input matInput [value]="group?.createdAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Update</mat-label>
                        <input matInput [value]="group?.updatedAt | date:'medium'" readonly>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Created By</mat-label>
                        <input matInput [value]="group?.admin.name" readonly>
                    </mat-form-field>
                </div>
                <div class="description">
                    @if (group) {
                    <app-environment-config
                        [enable]="envEnable"
                        [domainId]="domainId" 
                        [configuredEnvironments]="group.activated"
                        (outputEnvChanged)="onEnvChange($event)"
                        (outputStatusChanged)="onEnvStatusChanged($event)"
                        (outputEnvRemoved)="onEnvRemoved($event)"
                        (outputEnvLoaded)="onEnvLoaded($event)">
                    </app-environment-config>
                    }
                </div>
            </div>
        </section>
        <section>
            <div class="options-section">
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element" style="background:#fb5454;" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
    </div>
    @if (!loading && environments) {
    <div class="config-list">
        <hr>
        <app-config-list [childEnvironmentEmitter]="childEnvironmentEmitter" [environments]="environments"></app-config-list>
    </div>
    }
</app-block-ui>