.filter-member-style {
  white-space: nowrap;
  display: block;
  padding-top: 10px;
}

.filter-input {
  float: left;
  width: 330px;
  padding-right: 20px;
}

.mat-elevation-z8 {
  border: none;
  box-shadow: none;
}

th,
.mat-mdc-paginator {
  background-color: rgb(251, 251, 251) !important;
}

td {
  word-wrap: anywhere;
}