<block-ui>
    <div [ngClass]="detailBodyStyle">
        <section [ngClass]="classStatus" style="width: 100%;">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field class="operations-style">
                        <mat-label>Relay Type</mat-label>
                        <input *ngIf="!editing" matInput class="readonly-fields" [value]="config.relay.type" readonly>
                        <mat-select *ngIf="editing" [formControl]="relayTypeFormControl">
                            <mat-option value="VALIDATION">VALIDATION</mat-option>
                            <mat-option value="NOTIFICATION">NOTIFICATION</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea #descElement matInput class="readonly-fields"
                            [value]="config.relay.description ? config.relay.description : ''" maxlength="256"
                            [ngStyle]="editing ? {'color': 'black'} : ''" rows="6" readonly="{{ !editing }}">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
                <div class="description" style="width: 300px;">
                    <mat-form-field>
                        <mat-label>Endpoint</mat-label>
                        <input #endpointElement matInput maxlength="200" required
                            [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}"  autocomplete="off" [formControl]="endpointFormControl">
                        <mat-error *ngIf="endpointFormControl.hasError('required')">
                            Endpoint must be valid
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="operations-style">
                        <mat-label>Relay Method</mat-label>
                        <input *ngIf="!editing" matInput class="readonly-fields" [value]="config.relay.method" readonly>
                        <mat-select *ngIf="editing" [formControl]="relayMethodFormControl">
                            <mat-option value="GET">GET</mat-option>
                            <mat-option value="POST">POST</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Authorization Prefix</mat-label>
                        <input #authPrefixElement matInput
                            [value]="config.relay.auth_prefix ? config.relay.auth_prefix : ''" maxlength="50"
                            [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Authorization Token</mat-label>
                        <input #authTokenElement matInput maxlength="200" type="{{ !editing ? 'password' : 'text' }}"
                                [ngStyle]="editing ? {'color': 'black'} : ''" readonly="{{ !editing }}" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="description">
                    <app-environment-config *ngIf="config.relay"
                        [selectedEnvName]="currentEnvironment"
                        [enable]="envEnable"
                        [domainId]="parent.domainId" 
                        [configuredEnvironments]="config.relay.activated"
                        [notSelectableEnvironments]="true"
                        (outputEnvChanged)="onEnvChange($event)"
                        (outputStatusChanged)="onEnvStatusChanged($event)">
                    </app-environment-config>
                </div>
            </div>
        </section>
        <section class="strategy-control-style">
            <div class="options-section">
                <div *ngIf="relayVerificationEnabled && !isVerified() && !editing">
                    <button mat-button class="btn-element" (click)="verifyRelay()" [disabled]="!updatable">
                        <mat-icon>verified_user</mat-icon>
                        <div class="options-section-label">Verify</div>
                    </button>
                </div>
                <button mat-button [ngClass]="editing ? 'btn-element save' : 'btn-element'" (click)="edit()" [disabled]="!updatable">
                    <mat-icon style="font-size: large;">build</mat-icon>
                    <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
                </button>
                <button mat-button class="btn-element btn-red" (click)="delete()" [disabled]="!removable">
                    <mat-icon>delete</mat-icon>
                    <div class="options-section-label">Remove</div>
                </button>
            </div>
        </section>
    </div>
</block-ui>