.operations-style {
  width: 350px !important;
  margin-top: 10px;
}

.readonly-fields {
  color: #666;
}

.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

@media only screen and (max-width: 430px) {
  .description {
    display: grid;
    align-self: start;
    width: 95% !important;
  }

  .options-section-label {
    vertical-align: baseline;
  }

  .options-section {
    display: flex;
  }

  .operations-style {
    margin-top: 10px;
    width: 90% !important;
  }

  .header.activated {
    background: linear-gradient(to right, #549bfb 0, #549bfb 10px, #f7f7f7 10px, #fff 100%) no-repeat;
    width: 80%;
  }
  
  .header.deactivated {
    background: linear-gradient(to right, #9e9e9e 0, #9e9e9e 10px, #f7f7f7 10px, #fff 100%) no-repeat;
    width: 80%;
  }
  
  .header.editing {
    background: linear-gradient(to right, #ff3333 0, #ff3333 10px, #fff 10px, #fff 100%) no-repeat;
    width: 80%;
  }
}

@media only screen and (max-width: 770px) {
  .options-section-label {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .description {
    display: grid;
    align-self: start;
    width: 95% !important;
  }

  .operations-style {
    margin-top: 10px;
    width: 90% !important;
  }
}
