<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="dialog-header">
        <span>New strategy</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <form [formGroup]="elementCreationFormGroup" class="main-content">
                    <div class="left-content">
                        <mat-form-field class="strategy-style">
                            <mat-select placeholder="Strategy" [formControl]="strategyFormControl">
                                <mat-option *ngFor="let strategy of strategies" [value]="strategy">
                                    {{strategy}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="strategy-style">
                            <mat-select placeholder="Operation" [formControl]="operationFormControl">
                                <mat-option *ngFor="let operation of operations" [value]="operation">
                                    {{operation}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea #descElement matInput placeholder="Description" maxlength="256" style="color: black" rows="5" [formControl]="descFormControl">
                            </textarea>
                            <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="right-content">
                        <div id="srategyValueSection">
                            <div class="description-values">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-subtitle>Values</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content style="overflow-y: scroll; height: 100px;">
                                        <mat-selection-list #strategyValueSelection>
                                            <mat-list-option *ngFor="let value of data.values" [value]="value">
                                                {{value}}
                                            </mat-list-option>
                                        </mat-selection-list>
                                    </mat-card-content>
                                    <mat-form-field>
                                        <input #inputValue matInput placeholder="Selected" maxlength="20" [formControl]="valueSelectionFormControl" matTooltip="{{ strategyFormatSelected }}">
                                        <mat-error *ngIf="valueSelectionFormControl.dirty && valueSelectionFormControl.errors">
                                            Please, check the value format
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="strategy-values-control">
                                        <button mat-button class="btn-element" (click)="addValue(inputValue.value)" 
                                            [disabled]="inputValue.value.length === 0">Add</button>
                                        <button mat-button class="btn-element" (click)="removeValue(strategyValueSelection.selectedOptions.selected[0]?.value)" 
                                            [disabled]="!strategyValueSelection.selectedOptions.selected[0]?.value">Remove</button>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)" cdkFocusInitial>
        <mat-icon>save</mat-icon>
        <div class="options-section-label"> Save</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>