<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div *ngIf="!error" class="card mt-4" style="border: 0px; margin: 0px !important;">
    <div style="text-align: end; margin-top: -30px; margin-left: 600px;">
        <mat-form-field style="width: 180px;">
            <mat-select placeholder="Environment selection">
                <mat-option value="option">Production</mat-option>
                <mat-option value="option">QA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngFor="let config of configs$">
        <app-config-preview [config]="config"></app-config-preview>
    </div>
</div>