<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div *ngIf="!loading && !error" [ngClass]="cardListContainerStyle" style="border: 0px; margin: 0px !important;">
    <div class="header-style">
        <div class="div-btn-new">
            <button mat-button class="btn-element create" (click)="createConfig()" [disabled]="!creatable">
                <mat-icon style="font-size: large;">build</mat-icon>
                <div class="options-section-label">Create New</div>
            </button>
        </div>
        <div *ngIf="!childEnvironmentEmitter" class="environment-style">
            <form [formGroup]="environmentSelection">
                <mat-form-field>
                    <mat-select #envSelectionChange placeholder="Environment selection" formControlName="environmentSelection">
                        <mat-option *ngFor="let environment of environments" [value]="environment.name">
                            {{environment.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngFor="let config of configs">
            <app-config-preview 
                [domainId]="domainId"
                [domainName]="domainName"
                [groupId]="groupId"
                [config]="config" 
                [environmentSelectionChange]="environmentSelectionChange"
                [permissions]="permissions">
            </app-config-preview>
        </div>
    </div>
    <div *ngIf="configs.length === 10 || skip > 0" class="pagination">
        <button mat-button class="btn-element create nav" (click)="onPrevious()" disabled="{{skip === 0}}">
            <mat-icon style="font-size: larger;">arrow_back</mat-icon>
        </button>
        <button mat-button class="btn-element create nav" (click)="onNext()" disabled="{{configs.length < 10}}">
            <mat-icon style="font-size: larger;">arrow_forward</mat-icon>
        </button>
    </div>
</div>