button {
  outline: none;
}

.backgroud-style {
  background: #000 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.divider-style {
  width: 40px;
  transform: rotate(90deg);
  color:white;
  background:#89847d;
}

.profile-btn {
  cursor: pointer; 
  border: 0;
}

.profile-avatar {
  border-radius: 50%; 
  max-height: 40px;
  box-shadow: 0px 0px 10px 1px #45525e;
}

#menuProfile:hover + #profileMenu {
  display: block;
}

.navigation-nested:hover {
  display: block;
}

.navigation-nested {
  z-index: 35;
  width: 200px;
  padding: 0;
  list-style: none;
  line-height: 35px;
  background-color: #FFF;
  border: 1px solid #F7F7F7;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
  display: none;
  position: absolute;
  top: 80%;
  right: 10px;
  margin: 0;
}

.navigation-nested .username {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-nested__header {
  color: #8d9492;
  background-color: #F7F7F7;
}

.navigation-nested .topbar-menu-item:hover {
  text-decoration: none;
  color: #5298ff;
  background-color: #f2fafa;
}

.navigation-nested .topbar-menu-item {
  line-height: 46px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #8d9492;
}

.new-feature-text {
  margin: 3px 0px 3px; 
  font-size: 12px; 
  font-weight: lighter; 
  line-height: initial;
  color: white;
}

.new-feature {
  position: absolute;
  right: 0;
  transform: translate(-20%,-50%);
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #5298ff;
  border-radius: 20px;
}

.hide-nav {
  display: initial;
}

.hide-menu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .hide-nav {
    display: none;
  }

  .hide-menu {
    display: initial;
  }
}