<nav id="main-menu" class="navbar navbar-expand navbar-dark bg-dark backgroud-style">
    <a routerLink="/">
        <img src="assets\switcherapi_mark_white.png" 
            class="switcher-logo transition" 
            style="width: 40px; margin-bottom: 16px; margin-top: 16px;"
            alt="Switcher API logo"/>
    </a>
    <mat-divider class="divider-style"></mat-divider>
    <div class="navbar-nav" style="width: 100%;">
        <a class="nav-item nav-link" routerLink="/dashboard" *ngIf="currentToken">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/documentation">Documentation</a>
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentToken">Sign in</a>
        <div class="menu-border-left" *ngIf="!currentToken">
            <a id="toggleTheme" class="nav-item nav-link transition" (click)="toggleDarkMode()">
                <mat-icon>{{ darkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
            </a>
            <a id="signUp" class="nav-item nav-link" routerLink="/signup">Sign up</a>
        </div>
        <div id="menuProfile" *ngIf="currentToken" class="profile-btn menu-border-left">
            <img class="profile-avatar switcher-logo transition" src="{{ profileAvatar }}" alt="User avatar">
            <mat-icon class="icon-color" style="transform: translateY(6px);">keyboard_arrow_down</mat-icon>
        </div>
        <ul id="profileMenu" *ngIf="currentToken" class="navigation-nested">
            <li class="username navigation-nested__header">
                <div>{{ loggedUserName }}</div>
            </li>
            <li><a class="topbar-menu-item" routerLink="/settings/account" title="Profile Panel">Settings</a></li>
            <li><a class="topbar-menu-item" title="Profile Panel" (click)="toggleDarkMode()">Toggle Dark theme</a></li>
            <hr style="margin: 0;">
            <li><a class="topbar-menu-item" (click)="logout()" title="Sign Out">Sign Out</a></li>
        </ul>
    </div>
</nav>

<div style="margin-bottom: 60px;">
    <router-outlet></router-outlet>
</div>