<nav class="navbar navbar-expand navbar-dark bg-dark backgroud-style" *ngIf="currentToken">
    <img src="assets\switcherapi_management_white.png" style="width: 180px; margin-bottom: 16px; margin-top: 16px;"/>
    <mat-divider class="divider-style"></mat-divider>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/documentation">Documentation</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<div class="container" style="margin-bottom: 60px;">
    <router-outlet></router-outlet>
</div>