<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="dialog-header">
        <span>New Permission</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <form [formGroup]="elementCreationFormGroup">
                    <div>
                        <mat-form-field class="strategy-style">
                            <mat-label>Component</mat-label>
                            <mat-select [formControl]="routerFormControl">
                                <mat-option *ngFor="let router of routers" [value]="router" [disabled]="data.permission">
                                    {{router}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="strategy-style">
                            <mat-label>Permission</mat-label>
                            <mat-select [formControl]="actionFormControl">
                                <mat-option *ngFor="let action of actions" [value]="action" [disabled]="data.permission">
                                    {{action}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="strategy-style">
                            <mat-label>Environments</mat-label>
                            <mat-select [formControl]="environmentFormControl" multiple>
                                <mat-select-trigger>{{environmentFormControl.value?.[0] || ''}}
                                    <span *ngIf="(environmentFormControl.value?.length || 0) > 1">
                                        (+{{(environmentFormControl.value?.length || 0) - 1}} {{environmentFormControl.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let environment of environments" [value]="environment">{{environment}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="description-values">
                        <mat-card style="margin-top: 10px; padding: .5rem;">
                            <mat-card-header>
                            <mat-card-subtitle>Component specification</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content style="overflow-y: scroll; height: 100px;">
                                <mat-selection-list #componentValueSelection>
                                    <mat-list-option *ngFor="let value of data.values" [value]="value">
                                        {{value}}
                                    </mat-list-option>
                                </mat-selection-list>
                            </mat-card-content>
                            <mat-form-field>
                                <mat-label>Selected</mat-label>
                                <input #inputValue matInput maxlength="20" [formControl]="valueSelectionFormControl" autocomplete="off">
                            </mat-form-field>
                            <div class="strategy-values-control">
                                <button mat-button class="btn-element" (click)="addValue(inputValue.value)" 
                                    [disabled]="inputValue.value.length === 0 || !validKeyOnly">Add</button>
                                <button mat-button class="btn-element" (click)="removeValue(componentValueSelection.selectedOptions.selected[0]?.value)" 
                                    [disabled]="!componentValueSelection.selectedOptions.selected[0]?.value">Remove</button>
                            </div>
                        </mat-card>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)">
        <mat-icon>save</mat-icon>
        <div class="options-section-label"> Save</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>