.grid-container {
  display: grid;
  grid-template-areas: 'header none toggle';
  grid-gap: 2px;
  background-color: rgba(0, 0, 0, .03);
  padding: 2px;
  margin-bottom: 10px;
  background: #549bfb94
}

.label-env-name {
  font-size: x-large;
  color: white;
  margin-top: 4px;
  margin-left: 14px;
  width: 600px;
}

.toggle-section {
  /* columns: 2; */
  /* display: inline-table; */
  padding: 5px;
}

.btn-element.create {
  height: fit-content;
  margin-top: 10px;
}

.btn-element.remove {
  background: #fb5454;
  float: right;
  margin: auto;
  margin-left: 0px;
  margin: 2px;
}

.btn-element.reset {
  float: right;
  margin: auto;
  margin-left: 0px;
  margin: 2px;
}

.card.mt-4.loading {
  opacity: 0;
}

.card.mt-4.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .label-env-name {
    width: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .label-env-name {
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .label-env-name {
    width: 200px;
  }
}

@media only screen and (max-width: 550px) {
  .label-env-name {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .toggle-section {
    display: flex;
    margin: auto;
  }

  .grid-container {
    display: block !important;
  }

  .options-section-label {
    display: none;
  }

  .label-env-name {
    font-size: unset;
  }

  .btn-element {
    width: 50%;
  }
}