<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading"/>
</div>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
<div *ngIf="!error && !loading" [ngClass]="classStatus" style="border: 0px; margin: 0px !important;">
    <div class="header-style">
        <div style="display: flex;">
            <button mat-button class="btn-element create" (click)="createEnvironment()" [disabled]="inputEnvironmentName.value.length < 2 || !creatable">
                <mat-icon style="font-size: large;">build</mat-icon>
                Create
            </button>
            <mat-form-field style="padding-left: 14px;">
                <input #inputEnvironmentName matInput special-chars placeholder="Environment name" maxlength="30" 
                    [formControl]="envFormControl" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="!loading">
        <div *ngFor="let environment of environments">
            <div class="grid-container">
                <label class="label-env-name">
                    <mat-icon>apps</mat-icon>
                    {{ environment.name }}
                </label>
                <div class="toggle-section">
                    <button mat-button class="btn-element reset" (click)="resetEnvironment(environment)" [disabled]="!updatable">
                        <mat-icon>restore</mat-icon>
                        Reset
                    </button>
                    <button mat-button class="btn-element remove" (click)="removeEnvironment(environment)" [disabled]="!removable">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </button>
                </div>
            </div>  
        </div>
    </div>
</div>