@if (loading) {
<div class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
}
@if (!featureFlag) {
<div [ngClass]="detailBodyStyle()">
    <div class="panel-gitops-detail">
        <img src="assets\gitops.png" style="width: 40px;" alt="gitops" />
        <h3>GitOps Integration</h3>
    </div>
    <div>
        <p>Oops! Switcher GitOps is unavailable at this time.</p>
    </div>
</div>
}
@if (featureFlag) {
<div [ngClass]="detailBodyStyle()">
    <div class="panel-gitops-detail">
        <img src="assets\gitops.png" style="width: 40px; height: 40px;" alt="gitops" />
        <h3>GitOps Integration</h3>
        @if (allowUpdate && gitOpsAccounts.length > 0) {
        <button id="gitopsMenu" mat-button [matMenuTriggerFor]="belowMenu">
            <mat-icon class="menu-icon">arrow_drop_down</mat-icon>
            Options
        </button>
        }
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item class="gitops-menu-item" (click)="onStartNewAccount()">
                <mat-icon>open_in_new</mat-icon>
                New Account
            </button>
            <button mat-menu-item class="gitops-menu-item" (click)="onUpdateTokens()">
                <mat-icon>lock</mat-icon>
                Update Tokens
            </button>
        </mat-menu>
    </div>
    @if (!loading && gitOpsAccounts.length === 0) {
    <div class="header">
        @if (allowUpdate) {
        <div class="card-body">
            <p>No GitOps accounts found. Please add a GitOps account to get started.</p>
            <button mat-button class="btn-element" (click)="onStartNewAccount()">
                <mat-icon style="font-size: large;">open_in_new</mat-icon>
                <div class="options-section-label">New Account</div>
            </button>
        </div>
        }
        @if (!allowUpdate) {
        <div class="card-body">
            <p>No GitOps accounts found. Please contact your administrator to add a GitOps account.</p>
        </div>
        }
    </div>
    }
    @if (!loading && gitOpsAccounts.length > 0) {
    <div class="container-fluid content-row">
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass]="accountDetailsStyle">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <div class="description">
                            <mat-form-field>
                                <mat-label>Status</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.status" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Message</mat-label>
                                <textarea matInput [value]="gitOpsSelected.domain.message" rows="3" readonly></textarea>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Last Sync</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.lastdate" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Last Commit</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.lastcommit" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Version</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.version" readonly>
                            </mat-form-field>
                        </div>

                        <div class="options-section">
                            @if (allowUpdate && canRefresh()) {
                            <div>
                                <button mat-button class="btn-element" (click)="onForceRefresh()" matTooltip="Force refresh current environment account">
                                    <mat-icon style="font-size: large;">cloud_download</mat-icon>
                                    <div class="options-section-label">Force Refresh</div>
                                </button>
                            </div>
                            }
                            <div style="width: 6.5rem; display: flex;">
                                @if (reloading) {
                                <div class="options-spinner">
                                    <mat-spinner [diameter]="25"></mat-spinner>
                                </div>
                                }
                                @if (canReload()) {
                                <button mat-button class="btn-element" (click)="onReload()" matTooltip="Reload current environment account">
                                    <mat-icon style="font-size: large;">refresh</mat-icon>
                                    <div class="options-section-label">Reload</div>
                                </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div [ngClass]="accountSettingsStyle">
                    <div class="card-body">
                        <h5 class="card-title">Settings</h5>

                        <div class="description">
                            <mat-form-field>
                                <mat-label>Environment</mat-label>
                                <mat-select [formControl]="formGroup.get('environment')">
                                    @for (environment of getDomainEnvironments(); track environment) {
                                    <mat-option [value]="environment">
                                        {{environment}}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Repository</mat-label>
                                <input matInput [formControl]="formGroup.get('repository')" [value]="gitOpsSelected.repository">
                            </mat-form-field>
                            <div class="container-fluid content-row">
                                <div class="row">
                                    <mat-form-field class="col-sm-6">
                                        <mat-label>Branch</mat-label>
                                        <input matInput [formControl]="formGroup.get('branch')" [value]="gitOpsSelected.branch">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-6">
                                        <mat-label>Path</mat-label>
                                        <input matInput [formControl]="formGroup.get('path')" [value]="gitOpsSelected.path">
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <mat-label>Token</mat-label>
                                <input matInput type="password" [formControl]="formGroup.get('token')" [value]="gitOpsSelected.token">
                            </mat-form-field>

                            <div>
                                <mat-form-field>
                                    <mat-label>Window - (s,m,h) greater than 30s</mat-label>
                                    <input matInput [formControl]="formGroup.get('window')" [value]="gitOpsSelected.settings.window">
                                </mat-form-field>
                                <mat-slide-toggle 
                                    [formControl]="formGroup.get('active')" 
                                    [checked]="gitOpsSelected.settings.active">Active</mat-slide-toggle>
                                <mat-slide-toggle 
                                    matTooltip="When enabled allow it to fully synchronize the repository with the API"
                                    [formControl]="formGroup.get('forceprune')" 
                                    [checked]="gitOpsSelected.settings.forceprune" 
                                    class="settings-padding">Force Prune</mat-slide-toggle>
                            </div>
                        </div>

                        @if (allowUpdate) {
                        <div class="options-section">
                            @if (gitOpsSelected.ID && hasChanges()) {
                            <button mat-button class="btn-element" (click)="onUpdate()">
                                <div class="options-section-label">Update</div>
                                <mat-icon style="font-size: large;">build</mat-icon>
                            </button>
                            }
                            @if (!gitOpsSelected.ID) {
                            <button mat-button class="btn-element" (click)="onCreate()">
                                <div class="options-section-label">Create</div>
                                <mat-icon style="font-size: large;">save</mat-icon>
                            </button>
                            }
                            @if (!gitOpsSelected.ID) {
                            <button mat-button class="btn-element" (click)="onDiscard()">
                                <div class="options-section-label">Discard</div>
                                <mat-icon style="font-size: large;">close</mat-icon>
                            </button>
                            }
                            @if (gitOpsSelected.ID) {
                            <button mat-button class="btn-element btn-red" (click)="onUnsubscribe()">
                                <mat-icon style="font-size: large;">cloud_off</mat-icon>
                                <div class="options-section-label">Unsubscribe</div>
                            </button>
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
}