<div *ngIf="loading" class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
<div *ngIf="!featureFlag" [ngClass]="detailBodyStyle">
    <div class="panel-gitops-detail">
        <img src="assets\gitops.png" style="width: 40px;" alt="gitops" />
        <h3>GitOps Integration</h3>
    </div>
    <div>
        <p>Switcher GitOps will be available soon. Stay tuned!</p>
    </div>
</div>
<div *ngIf="featureFlag" [ngClass]="detailBodyStyle">
    <div class="panel-gitops-detail">
        <img src="assets\gitops.png" style="width: 40px;" alt="gitops" />
        <h3>GitOps Integration</h3>
    </div>
    <div *ngIf="gitOpsAccounts.length === 0">
        <div class="card-body">
            <p>No GitOps accounts found. Please add a GitOps account to get started.</p>
            <button mat-button class="btn-element" (click)="startNewAccount()">
                <mat-icon style="font-size: large;">open_in_new</mat-icon>
                <div class="options-section-label">New Account</div>
            </button>
        </div>
    </div>
    <div *ngIf="gitOpsAccounts.length > 0" class="container-fluid content-row">
        <div class="row">
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <div class="description">
                            <mat-form-field>
                                <mat-label>Status</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.status" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Message</mat-label>
                                <textarea matInput [value]="gitOpsSelected.domain.message" rows="3" readonly></textarea>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Last Sync</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.lastdate" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Last Commit</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.lastcommit" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Version</mat-label>
                                <input matInput [value]="gitOpsSelected.domain.version" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Settings</h5>

                        <form [formGroup]="formGroup">
                            <div class="description">
                                <mat-form-field>
                                    <mat-label>Environment</mat-label>
                                    <mat-select [formControl]="formEnvironment">
                                        <mat-option *ngFor="let environment of getDomainEnvironments()" [value]="environment">
                                            {{environment}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Repository</mat-label>
                                    <input matInput [value]="gitOpsSelected.repository">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Repository</mat-label>
                                    <input matInput [value]="gitOpsSelected.branch">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Token</mat-label>
                                    <input matInput type="password" [value]="gitOpsSelected.token">
                                </mat-form-field>

                                <div>
                                    <mat-form-field>
                                        <mat-label>Window</mat-label>
                                        <input matInput [value]="gitOpsSelected.settings.window">
                                    </mat-form-field>
                                    <mat-slide-toggle [checked]="gitOpsSelected.settings.active">Active</mat-slide-toggle>
                                    <mat-slide-toggle [checked]="gitOpsSelected.settings.forceprune" style="padding-left: 1rem;">Force Prune</mat-slide-toggle>
                                </div>
                            </div>
                        </form>

                        <hr/>
                        
                        <div class="options-section">
                            <button mat-button class="btn-element" (click)="startNewAccount()">
                                <mat-icon style="font-size: large;">open_in_new</mat-icon>
                                <div class="options-section-label">New Account</div>
                            </button>
                            <button mat-button class="btn-element">
                                <mat-icon style="font-size: large;">build</mat-icon>
                                <div class="options-section-label">Update</div>
                            </button>
                            <button mat-button class="btn-element btn-red">
                                <mat-icon style="font-size: large;">cloud_off</mat-icon>
                                <div class="options-section-label">Unsubscribe</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>