h3 {
    margin-bottom: auto;
    margin-left: .2rem;
}

.panel-gitops-detail {
    display: flex;
    padding-bottom: 1rem;
}

.options-icon {
    font-size: large;
}

.card {
    margin-top: 10px;
    margin-bottom: 2rem;
    border: 1px solid #d3d3d3;
}

.settings-padding {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#gitopsMenu {
    color: #2d3135 !important;
    border: 1px solid #999;
    margin-left: 1rem;
    right: 2rem;
    position: absolute;
}

.gitops-menu-item {
    outline: none;
}

.options-section-label {
    display: initial;
}

.options-section {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
}

@media only screen and (max-width: 570px) {
    .h-100 {
        height: auto !important;
    }

    .row > * {
        padding-right: 0;
        padding-left: 0;
    }
    
    .card-body {
        padding: 1rem;
    }

    .options-section {
        margin: auto;
        position: relative;
        bottom: auto;
        right: auto;
    }

    #gitopsMenu {
        right: unset;
        position: relative;
    }

    .description {
        width: 100% !important;
    }

}