h3 {
    margin-bottom: auto;
    margin-left: .2rem;
}

.panel-gitops-detail {
    display: flex;
    padding-bottom: 1rem;
}

.options-section-label {
    vertical-align: baseline !important;
    display: contents;
}

.card {
    margin-top: 10px;
    border: 1px solid #d3d3d3;
}

@media only screen and (max-width: 570px) {
    .h-100 {
        height: auto !important;
    }

    .options-section {
        margin: auto;
    }

    .options-section-label {
        display: none;
    }

    .options-section .mat-mdc-button .mat-icon {
        margin-right: unset !important;
        margin-left: unset !important;
    }
}