<div class="container-style">
    <form [formGroup]="environmentSelection">
        <mat-form-field style="width: 180px;">
            <mat-select #envSelectionChange placeholder="Environment selection" formControlName="environmentSelection">
                <mat-option *ngFor="let environment of environments" [value]="environment.name">
                    {{environment.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="environmentStatusSelection">
        <div style="display: block ruby;">
            <div class="toggle-section">
                <mat-slide-toggle #toggleEnv [checked]="selectedEnvStatus" [ngClass]="toggleClass" (change)="changeStatus($event)" formControlName="environmentStatusSelection">
                </mat-slide-toggle>
            </div>
            <button [disabled]="isDisableToRemove()" mat-button style="float: right; margin-top: -5px;" (click)="removeEnvironment()">
                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" class="svg-style" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"></path>
                    <path fill-rule="evenodd" d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </form>
</div>