<div class="container-style">
    <form [formGroup]="environmentSelection">
        <mat-form-field style="width: 180px;">
            <mat-label>Environment</mat-label>
            <mat-select #envSelectionChange formControlName="environmentSelection">
                @for (environment of environments; track environment.name) {
                <mat-option [value]="environment.name">
                    {{environment.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="environmentStatusSelection">
        <div style="display: block;">
            <div class="toggle-section">
                <mat-slide-toggle #toggleEnv [checked]="selectedEnvStatus" [ngClass]="toggleClass" 
                    (change)="changeStatus($event)" formControlName="environmentStatusSelection">
                </mat-slide-toggle>
            </div>
            <button [disabled]="isDisableToRemove()" mat-mini-fab class="env-delete-btn" (click)="removeEnvironment()"
                matTooltip="Reset environment to default">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </form>
</div>