.container-style {
  border: 1px solid #ccc !important;
  border-radius: 16px;
  margin: 20px;
  padding: 15px;
}

.toggle-section {
  grid-area: toggle;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #b0d2ff;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #549bfb;
}
