<div class="container-style">
    <form [formGroup]="environmentSelection">
        <mat-form-field style="width: 180px;">
            <mat-label>Environment selection</mat-label>
            <mat-select #envSelectionChange placeholder="Environment selection" formControlName="environmentSelection">
                <mat-option *ngFor="let environment of environments" [value]="environment.name">
                    {{environment.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="environmentStatusSelection">
        <div style="display: block;">
            <div class="toggle-section">
                <mat-slide-toggle #toggleEnv [checked]="selectedEnvStatus" [ngClass]="toggleClass" 
                    (change)="changeStatus($event)" formControlName="environmentStatusSelection">
                </mat-slide-toggle>
            </div>
            <button [disabled]="isDisableToRemove()" mat-button class="env-delete-btn" (click)="removeEnvironment()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </form>
</div>