<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">
                <img src="assets\switcherapi_management_white.png" style="width: 220px;" alt="Switcher Management"/>
            </h4>
            <div *ngIf="!loading && !waitingConfirmation" class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="text" id="name" (keyup)="onKey($event)" maxlength="50"
                                placeholder="Name" autocomplete="off" formControlName="name" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="email" id="email" (keyup)="onKey($event)" maxlength="50"
                                placeholder="E-mail" autocomplete="off" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="password" id="password" (keyup)="onKey($event)" placeholder="Password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                    <re-captcha *ngIf="getRecaptchaPublicKey()" class="g-recaptcha" (resolved)="resolved($event)" 
                        formControlName="captcha"
                        siteKey="{{getRecaptchaPublicKey()}}">  
                    </re-captcha>
                    <div style="padding-top: 20px;">
                        <button *ngIf="getRecaptchaPublicKey()" mat-button class="btn-element" [disabled]="loading || !recaptcha_token">
                            <img class="switcher-logo" src="assets\switcherapi_mark_white.png" style="width: 20px;" alt="Switcher API"/>
                            <span class="label-color" style="color: white; padding-left: 5px;">Create</span>
                        </button>
                        <button *ngIf="!getRecaptchaPublicKey()" mat-button class="btn-element" [disabled]="loading">
                            <img class="switcher-logo" src="assets\switcherapi_mark_white.png" style="width: 20px;" alt="Switcher API"/>
                            <span class="label-color" style="color: white; padding-left: 5px;">Create</span>
                        </button>
                        <button *ngIf="hasGithubIntegration()" type="button" 
                            mat-button class="btn-element white" [disabled]="loading || !recaptcha_token" (click)="onGitHubLogin()">
                            <img src="assets\github.svg" style="width: 20px;" alt="GitHub"/>
                            <span style="color: black; padding-left: 5px;">GitHub</span>
                        </button>
                        <button *ngIf="hasBitbucketIntegration()" type="button" 
                            mat-button class="btn-element white" [disabled]="loading || !recaptcha_token" (click)="onBitBucketLogin()">
                            <img src="assets\bitbucket.svg" style="width: 20px;" alt="Bitbucket"/>
                            <span style="color: black; padding-left: 5px;">Bitbucket</span>
                            <div class="new-feature">
                                <p class="new-feature-text">New</p>
                            </div>
                        </button>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <div *ngIf="status" class="alert alert-danger mt-3 mb-0">{{status}}</div>
                </form>
            </div>
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" style="transform: translate(0%,-145%);" alt="Switcher API"/>
            </div>

            <div *ngIf="!loading && waitingConfirmation" class="card-body">
                <mat-icon class="confirmation-icon">email</mat-icon>
                <h1 class="confirmation-text">
                    <p>A confirmation has been sent to your email.</p>
                    <p>Please check your email and click the confirmation link to complete your sign up.</p>
                </h1>
            </div>

            <app-version [apiVersion]="apiVersion"></app-version>
        </div>
    </div>
</div>