/* Markdown style rules */
:host ::ng-deep .image-style {
  width: 100%;
  max-width: max-content;
  border-radius: 10px;
}

:host ::ng-deep .image-style.shadow {
  box-shadow: 0px 0px 10px black;
}

:host ::ng-deep .image-style.center {
  display: block;
  margin: auto;
}

:host ::ng-deep .image-style.width-70 {
  width: 70%;
}

:host ::ng-deep .image-style.width-40 {
  width: 40%;
}
