/* Markdown style rules */
:host /deep/ .image-style {
  width: 100%;
  max-width: max-content;
}

:host /deep/ .image-style.shadow {
  box-shadow: 0px 0px 10px black;
}

:host /deep/ .image-style.center {
  display: block;
  margin: auto;
}

:host /deep/ .image-style.width-70 {
  width: 70%;
}
