<div [ngClass]="metricViewClass">
    <div class="header-filter">
        <button mat-button class="btn-element" (click)="onFilter()">
            <mat-icon style="font-size: larger;">filter_list</mat-icon>
        </button>
    </div>
    <div style="text-align: center;"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <section id="data-section" *ngIf="!loading" style="margin-top: 20px;">
        <div #tabmetrics>
            <ngb-tabset [activeId]="1" [destroyOnHide]="false">
                <ngb-tab id="1">
                    <ng-template ngbTabTitle>
                        <div (click)="showGraphics()">Overall Statistics</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-metric-statistics [data]="metrics" [switcher]="switcher" [parent]="this"></app-metric-statistics>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="2">
                    <ng-template ngbTabTitle>
                        <div (click)="showData()">Data</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-metric-data [data]="metrics.data" [switcher]="switcher" [parent]="this"></app-metric-data>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </section>
</div>