.btn-element {
  float: right;
}

.header-filter {
  margin-top: -50px;
  margin-bottom: 50px;
}

.metrics-view.graphics {
  padding-top: 20px; 
  height: 700px; 
  display: block;
}

.metrics-view.data {
  padding-top: 20px; 
  display: block;
}