<div [ngClass]="metricViewClass">
    <div *ngIf="!loading" class="header-filter">
        <button mat-button class="btn-element" (click)="onFilter()">
            <mat-icon style="font-size: larger;">filter_list</mat-icon>
        </button>
    </div>
    <div *ngIf="loading" class="card-body loader-div">
        <div class="loader"></div>
        <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <section id="data-section" [ngClass]="classStatus" style="margin-top: 20px;">
        <div #tabmetrics *ngIf="!loading">
            <ngb-tabset [activeId]="1" [destroyOnHide]="false" (tabChange)="onTabChange($event)">
                <ngb-tab id="1">
                    <ng-template ngbTabTitle>
                        Overall Statistics
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-metric-statistics [data]="metrics" [switcher]="switcher" [environment]="environment" [parent]="this"></app-metric-statistics>
                    </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="metrics.data" id="2">
                    <ng-template ngbTabTitle>
                        Data
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-metric-data [data]="metrics.data" [switcher]="switcher" [parent]="this"></app-metric-data>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </section>
</div>