.btn-element {
  float: right;
  margin-top: auto;
}

.header-filter {
  float: inline-end;
  margin-top: -15px;
}

.metrics-view.graphics {
  height: 680px; 
  display: block;
}

.metrics-view.data {
  display: block;
}

.loading {
  opacity: 0;
}

.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .metrics-view.graphics {
    height: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .metrics-view.graphics {
    height: 500px;
  }
}

@media only screen and (max-width: 760px) {
  .metrics-view.graphics {
    height: 400px;
  }
}

@media only screen and (max-width: 560px) {
  .metrics-view.graphics {
    height: 100%;
  }
}