<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="dialog-header">
        <span>New switcher</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <form [formGroup]="elementCreationFormGroup">
                    <mat-form-field>
                        <input #nameElement matInput cdkFocusInitial placeholder="Key" maxlength="30" style="color: black" [formControl]="keyFormControl">
                        <mat-error *ngIf="keyFormControl.hasError('minlength')">
                            Key must contains at least 3 characters
                        </mat-error>
                        <mat-error *ngIf="keyFormControl.hasError('required')">
                            Key is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea #descElement matInput placeholder="Description" maxlength="256" style="color: black" rows="3" [formControl]="descFormControl">
                        </textarea>
                        <mat-hint align="end">{{descElement.value.length}} / 256</mat-hint>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)">Save</button>
    <button class="btn-cancel" mat-button (click)="onCancel()">Cancel</button>
</div>