<div class="container" >
    <div class="card mt-4">
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <h4 class="card-header">
            <div>
                Domains
                <button mat-button [matMenuTriggerFor]="belowMenu" style="float:right">
                    <mat-icon> list_alt</mat-icon>
                </button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="createDomain()">
                        <mat-icon>build</mat-icon>
                        Create
                    </button>
                </mat-menu>
            </div>
        </h4>
        <div class="card-body">
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
            <div *ngIf="!loading">
                <div *ngFor="let domain of domains">
                    <app-domain-preview [domain]="domain"></app-domain-preview>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="collabDomains.length" class="card mt-4">
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
        <h4 class="card-header">
            <div>
                Collaboration
            </div>
        </h4>
        <div class="card-body">
            <div *ngIf="loadingCollab" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
            </div>
            <div *ngIf="errorCollab" class="alert alert-danger mt-3 mb-0">{{ errorCollab }}</div>
            <div *ngIf="!loadingCollab">
                <div *ngFor="let domain of collabDomains">
                    <app-domain-preview [domain]="domain"></app-domain-preview>
                </div>
            </div>
        </div>
    </div>
</div>