@if (loading) {
<div class="card-body loader-div">
    <div class="loader"></div>
    <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo" alt="loading" />
</div>
}
@if (error) {
<div class="alert alert-danger mt-3 mb-0">{{error}}</div>
} @else {
<div [ngClass]="classStatus" style="border: 0;">
    @if (!loading) {
    <div>
        @if (teams) {
        <div class="header-style">
            <div style="display: flex;">
                <button mat-button class="btn-element create" (click)="createTeam()" [disabled]="inputTeamName.value.length < 2 || !creatable">
                    @if (creating) {
                    <mat-icon><mat-spinner [diameter]="20"></mat-spinner></mat-icon>
                    }
                    @if (!creating) {
                    <mat-icon style="font-size: large;">create</mat-icon>
                    }
                    Create
                </button>
                <mat-form-field style="padding-left: 14px;">
                    <mat-label>Team name</mat-label>
                    <input #inputTeamName matInput maxlength="30" [formControl]="teamFormControl">
                </mat-form-field>
            </div>
        </div>
        }
        @for (team of teams; track team) {
        <app-team-preview 
            [team]="team" 
            [teamListComponent]="this" 
            [removable]="removable" 
            [updatable]="updatable">
        </app-team-preview>
        }
    </div>
    }
</div>
}