<div class="description">
    <mat-form-field>
        <mat-label>Ignored Environments</mat-label>
        <mat-chip-grid #ignoredList>
          @for (env of ignoredEnvironments(); track env) {
          <mat-chip-row (removed)="remove(env, 'ignored')"
                [removable]="true">
            {{env}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input [readonly]="!updatable()"
                [matChipInputFor]="ignoredList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event, 'ignored')">
        </mat-chip-grid>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Frozen Environments</mat-label>
        <mat-chip-grid #frozenList>
          @for (env of frozenEnvironments(); track env) {
          <mat-chip-row (removed)="remove(env, 'frozen')"
                [removable]="true">
            {{env}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input [readonly]="!updatable()"
                [matChipInputFor]="frozenList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event, 'frozen')">
        </mat-chip-grid>
      </mat-form-field>
</div>