
@import '@angular/material/theming';
@include mat-core();

$switcher-management-primary: mat-palette($mat-indigo);
$switcher-management-accent: mat-palette($mat-pink, A200, A100, A400);
$switcher-management-warn: mat-palette($mat-red);
$switcher-management-theme: mat-light-theme($switcher-management-primary, $switcher-management-accent, $switcher-management-warn);

@include angular-material-theme($switcher-management-theme);
