@use '@angular/material' as mat;

@include mat.core();

$switcher-management-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

html {
  @include mat.all-component-themes($switcher-management-theme);
}