@import url("styles-dark-theme.css");

a {
  cursor: pointer
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: #cacaca;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: .1rem;
}

.menu-border-left {
  margin-left: auto; 
  border: 1px solid;
}

.switcher-logo:hover {
  transform: scale(1.2, 1.2);
}

.switcher-logo.transition {
  transition: all .2s cubic-bezier(0.100, 0.50, 0.30, 1);
}

.mat-button:hover:not([disabled]) {
  transition: all .2s;
  box-shadow: 0 0 5px #757575;
}

@media only screen and (max-width: 600px) {
  .divider-style {
    display: contents !important;
  }
}

html, body { height: 100%; }
