a {
  cursor: pointer
}

html,
body {
  height: 100%;
}

/* Start - Dark theme setup */

html.dark-mode {
  filter: invert(100%) hue-rotate(180deg);
  top: 0 !important; /*fix cdk modal issues*/
  transition: all 1s;
}

html.dark-mode h4, html.dark-mode, html.dark-mode .navbar-toggler-icon, html.dark-mode .link {
  filter: invert(100%) hue-rotate(180deg);
}

html.dark-mode body, html.dark-mode .backgroud-style, html.dark-mode h4 {
  background: black !important;
}

html.dark-mode .backgroud-style, html.dark-mode #footer, html.dark-mode .home-section {
  background: #eee !important;
}

html.dark-mode #main-menu, html.dark-mode #footer {
  box-shadow: 0px 0px 10px 10px #eee !important;
}

html.dark-mode #sidebar,
html.dark-mode .profile-avatar, 
html.dark-mode .avatar, 
html.dark-mode .switcher-logo,
html.dark-mode .doc-icon, 
html.dark-mode .home-image,
html.dark-mode .carousel-images,
html.dark-mode .collab-image  {
  filter: invert(100%) hue-rotate(180deg);
}

html.dark-mode .image-style {
  filter: invert(100%) hue-rotate(180deg);
}

html.dark-mode .card {
  box-shadow: none;
}

html.dark-mode .nav-item.nav-link, html.dark-mode p, html.dark-mode #iconListChildren {
  color: black !important;
}

html.dark-mode .nav-item.nav-link:hover {
  color: #9d92ea !important;
}

html.dark-mode .block-ui-wrapper {
  filter: invert(100%) hue-rotate(180deg);
}

html.dark-mode .carousel-images {
  border-radius: 10px;
}

html.dark-mode .home-section, html.dark-mode #page-container {
  background: white !important;
  box-shadow: none !important;
}

/* End - Dark theme setup */

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: #cacaca;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: .1rem;
}

.menu-border-left {
  margin-left: auto; 
  border: 1px solid;
}

.switcher-logo:hover {
  transform: scale(1.2, 1.2);
}

.switcher-logo.transition {
  transition: all .2s cubic-bezier(0.100, 0.50, 0.30, 1);
}

@media only screen and (max-width: 600px) {
  .divider-style {
    display: contents !important;
  }
}

html, body { height: 100%; }
