@import url("styles-dark-theme.css");

.mdc-text-field--filled {
  background-color: #fff0 !important;
}

.mat-mdc-button {
  color: white !important;
  line-height: 36px !important;
}

.mat-mdc-button > .mat-icon {
  vertical-align: middle !important;
}

.mat-mdc-menu-item .mat-icon {
  color: #0000008a !important;
}

.mat-mdc-form-field {
  display: flex !important;
}

.mat-mdc-tab-body-content {
  overflow: clip !important;
}

.mat-mdc-menu-item:hover:not([disabled]) {
  background: rgba(172, 171, 171, 0.04) !important;
}

.environment-style .mdc-line-ripple::before,
element-autocomplete .mdc-text-field__input::placeholder,
element-autocomplete .mdc-line-ripple::before,
element-autocomplete .mdc-text-field__input {
  color: #929497 !important;
  border-bottom-color: #929497 !important;
}

.mdc-text-field__input,
.mat-mdc-select-value {
  color: currentColor !important;
}

html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #5298ff;
  --mdc-switch-selected-handle-color:#5298ff;
  --mdc-switch-selected-hover-state-layer-color: #5298ff;
  --mdc-switch-selected-pressed-state-layer-color: #5298ff;
  --mdc-switch-selected-focus-handle-color: #5298ff;
  --mdc-switch-selected-hover-handle-color: #5298ff;
  --mdc-switch-selected-pressed-handle-color: #5298ff;
  --mdc-switch-selected-focus-track-color: #5298ff;
  --mdc-switch-selected-hover-track-color: #5298ff;
  --mdc-switch-selected-pressed-track-color: #5298ff;
  --mdc-switch-selected-track-color: #5298ff;
}

/* ##################### */

a {
  cursor: pointer
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: #cacaca;
}

label {
  margin-bottom: inherit;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: .1rem;
}

.menu-border-left {
  margin-left: auto; 
  border: 1px solid;
}

.switcher-logo:hover {
  transform: scale(1.2, 1.2);
}

.switcher-logo.transition {
  transition: all .2s cubic-bezier(0.100, 0.50, 0.30, 1);
}

.mat-mdc-button:hover:not([disabled]) {
  transition: all .2s;
  box-shadow: 0 0 5px #757575;
}

.mdc-menu-surface,
.mat-mdc-table {
  background-color: white !important;
}

.mat-mdc-paginator {
  background-color: rgb(251, 251, 251) !important;
}

.btn-red {
  background: #fb5454 !important;
}

.icon-color {
  color: white;
}

.card {
  border: 0;
}

ngb-modal-backdrop {
  z-index: 0 !important;
}

@media only screen and (max-width: 600px) {
  .divider-style {
    display: contents !important;
  }
}