mat-icon {
  vertical-align: middle;
}

.header-create {
  background: linear-gradient(to right, #549bfb 0, #549bfb, #5298ff 10px, #fff 100%) no-repeat;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.header {
  border-radius: 20px;
}

.description {
  width: 95%;
}

.btn-cancel {
  background: #8e8e8e;
  color: white;
}

.btn-save {
  background: #549bfb;
  color: white;
}

.mat-form-field {
  width: 100%;
}

.dialog-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
}

.fx-spacer {
  flex: 1 1 auto;
}

.btn-bottom-dialog {
  float: right;
  justify-content: end;
}