mat-icon {
  vertical-align: middle;
}

.header.activated {
  background: linear-gradient(to right, #549bfb 0, #549bfb 10px, #f7f7f7 10px, #fff 100%) no-repeat;
}

.header.deactivated {
  background: linear-gradient(to right, #9e9e9e 0, #9e9e9e 10px, #f7f7f7 10px, #fff 100%) no-repeat;
}

.header.transparent {
  background: linear-gradient(to right,#efefef 0,#e8e8e8 10px,#f7f7f7 10px,#fff) no-repeat;
}

.header.editing {
  background: linear-gradient(to right, #ff3333 0, #ff3333 10px, #fff 10px, #fff 100%) no-repeat;
}

.header {
  border-radius: 2px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  color: #666;
}

.header-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
}

.detail-body {
  padding-top: .5rem;
}

.detail-body.loading {
  opacity: 0;
}

.detail-body.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.description {
  display: grid;
  align-self: start;
}

.options-section {
  float: right;
  display: -webkit-inline-box;
  margin-top: 1rem;
}

.svg-style {
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: large;
}

.btn-element {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: .2rem;
  background: #549bfb;
  color: white !important;
}

.btn-element.save {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background: #2ec454;
  color: white;
}

.options-section-label {
  vertical-align: top;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(0, 0, 0, 0.3);
}

.loader-logo {
  transform: translate(0%,-145%); 
  margin: auto; 
  display: block;
}

.loader {
  margin: auto;
  border-radius: 100%;
  border-top: 5px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-div {
  margin-top: 40px;
  animation: 2s ease-out 0s 1 fadeIn;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 1200px) {
  .header-container {
    display: block;
    flex-flow: row no-wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
  }

  .description {
    display: grid;
    align-self: start;
    width: 90% !important;
  }
}

@media only screen and (max-width: 430px) {
  .options-section-label {
    display: none;
  }
}