mat-icon {
  vertical-align: middle;
}

.btn-element {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background: #549bfb;
  color: white;
}

.btn-element.nav {
  margin: .5rem;
}

.div-btn-new {
  width: 100%; 
  margin: auto;
}

.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.svg-style {
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: large;
}

.header-style {
  display: flex;
}

.environment-style {
  float: right;
  margin-top: 10px;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .card.mt-4.loading {
  opacity: 0.0;
}

:host ::ng-deep .card.mt-4.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loader-logo {
  transform: translate(0%,-145%); 
  margin: auto; 
  display: block;
}

.loader {
  margin: auto;
  border-radius: 100%;
  border-top: 5px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-div {
  margin-top: 40px;
  animation: 2s ease-out 0s 1 fadeIn;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 600px) {
  .environment-style {
    float: right; 
    margin-top: 10px;
  }

  .options-section-label {
    display: none;
  }
}