.header-section {
  grid-area: header;
  display: inline-flex;
  width: 400px;
}

.toggle-section {
  grid-area: toggle;
  display: inline-block;
  text-align: center;
}

.toggle-section.deactivated {
  display: none;
}

.toggle-style {
  margin-top: 14px;
}

.toggle-style.deactivated {
  display: none;
}

.grid-container.activated {
  display: grid;
  grid-template-areas:
    'header empty empty empty empty toggle';
  grid-gap: 2px;
  background-color: rgba(0, 0, 0, .03);
  padding: 2px;
  margin-bottom: 10px;
  background: #549bfb94;
}

.grid-container.deactivated {
  display: grid;
  grid-template-areas:
    'header empty empty empty empty toggle';
  grid-gap: 2px;
  background-color: rgba(0, 0, 0, .03);
  padding: 2px;
  margin-bottom: 10px;
  background: #d0d0d0;
}

.grid-container>div {
  background-color: rgb(255, 255, 255);
}

.btn-element.activated {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  display: block;
  font-size: 24px;
  margin-left: 0px !important;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #5298ff;
}

.btn-element.deactivated {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  display: block;
  font-size: 24px;
  margin-left: 0px !important;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #595959;
}

.svg-style {
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: large;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #b0d2ff;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #549bfb;
}

:host /deep/ .block-ui-wrapper {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1200px) {
  .header-section {
    grid-area: header;
    display: inline-flex;
    width: 100%;
  }
}