<div class="home-content">
    <section class="home-section header">
        <div class="home-container">
            <div class="home-text">
                <h1>
                    Switching fast.<br>
                    Adapt everywhere.
                </h1>
                <p>Decrease the friction caused by changes while keeping control of what really matters.</p>
                <p>Already have an account? <a routerLink="/login">Sign in</a></p>
            </div>
            <div class="vertical"></div>
            <div class="spacer"></div>
            <div class="home-image">
                <img src="assets\switcherapi_white.png" style="width: 100%;" alt="Switcher API" />
            </div>
        </div>
    </section>
    <section class="home-section features">
        <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="carousel-images" [src]="getImage('home_showcase')" alt="Home Showcase" />
                    <div class="home-carousel-caption">
                        <h3>Control & Metrics</h3>
                        <p>Simple and straightforward UI that allows you to manage and monitor seamlessly your features.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" [src]="getImage('home_showcase_collab')" alt="Home Showcase Collab" />
                    <div class="home-carousel-caption">
                        <h3>Collaborate</h3>
                        <p>Create autonomy and a collaborative environment using our team management.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" [src]="getImage('home_showcase_tracking')" alt="Tracking" />
                    <div class="home-carousel-caption">
                        <h3>Tracking</h3>
                        <p>Knows exactly who and when a specific feature of your project is being used, monitoring them
                            throughout our analytics dashboard.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" [src]="getImage('home_showcase_environment')" alt="Environment" />
                    <div class="home-carousel-caption">
                        <h3>Multi-environment</h3>
                        <p>Run multiple environments with just a few settings and enable your team to work freely on
                            your next feature.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" [src]="getImage('home_showcase_libraries')" alt="Libraries" />
                    <div class="home-carousel-caption">
                        <h3>Client SDK & Integrations</h3>
                        <p>Easy to use and flexible libraries that are focused on productivity and integrations with the most
                            popular programming languages.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" src="assets\home_showcase_slackapp.png" alt="Slack App" />
                    <div class="home-carousel-caption">
                        <h3>Switcher Slack App</h3>
                        <p>Integrate with your Slack Workspace and keep approval processes visible and accessible to your team.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-images" src="assets\home_showcase_gitops.png" alt="Webhooks" />
                    <div class="home-carousel-caption">
                        <h3>Switcher GitOps</h3>
                        <p>Centralize the source of truth of your Domain with GitOps integration.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="home-section collab">
        <div class="home-container collab">
            <div class="home-text collab-center">
                <h1 style="font-weight: normal;">
                    Welcome on board
                </h1>
            </div>
            <div class="home-text collab-left">
                <h1>
                    Become a member
                </h1>
                <p>
                    Our team is diverse and vital to keep this project growing.<br>
                    As an open-source project, we appreciate any feedback and contribution from the community.<br>
                    Your support will help us to continue evolving and providing the best Feature Management experience.
                </p>
                <br>
                <p>Check out <a href="https://github.com/switcherapi" target="_blank">Switcher API Organization</a> for more details about how to contribute to the project.</p>
            </div>
            <div class="vertical" style="height: 450px; margin-top: 160px;"></div>
            <div class="spacer"></div>
            <div class="home-text collab-right">
                <h1 class="collab-title">The crew</h1>
                <div class="collab-panel">
                    <div class="collab-profile">
                        <img class="collab-image pic" src="assets\collab_members\roger.png" alt="Roger Floriano">
                        <p>
                            <strong>Roger Floriano</strong><br>
                            Founder/Maintainer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer id="footer" class="footer-style">
    <div class="footer-right">
        <a class="link" href="https://github.com/switcherapi" target="_black">
            <img src="assets\github.svg" style="width: 30px; filter: invert(1);" alt="GitHub" />
        </a>
    </div>
    <div class="footer-left" style="display: flex">
        <div class="footer-left">
            <img class="trackerforce-logo" src="assets\trackerforce.png" alt="Trackerfoce logo" />
        </div>
        <div>
            <p class="footer-links">
                <a class="link" title="Email Switcher API support" rel="noopener noreferrer" target="_blank"
                    href="mailto:switcher.project@gmail.com">Contact</a>
            </p>
            <p>Powered by Trackerforce - 2024</p>
        </div>
    </div>
</footer>