<div class="home-content">
    <section class="home-section" 
        style="background: linear-gradient(0deg, rgb(202, 202, 202) 0%, rgb(36, 41, 46) 5%, rgb(0, 0, 0) 100%); padding: 30px 0px 40px 0px;">
        <div class="home-container">
            <div class="home-text">
                <h1>
                    Switching fast.<br>
                    Adapt everywhere.
                </h1>
                <p>Decrease the friction caused by changes while keeping control of what really matters.</p>
                <p>Already have an account? <a routerLink="/login">Sign in</a></p>
            </div>
            <div class="vertical"></div>
            <div class="spacer"></div>
            <div class="home-image">
                <img src="assets\switcherapi_white.png" style="width: 100%;" />
            </div>
        </div>
    </section>
    <section class="home-section features">
        <ngb-carousel [interval]="10000" [pauseOnHover]="true">
            <ng-template ngbSlide>
                <div>
                    <img class="carousel-images" src="assets\home_showcase.png" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Control & Metrics</h3>
                    <p>Simple and straightforward controllers which allows you to manipulate and monitor every aspect of your business.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img class="carousel-images" src="assets\home_showcase_collab.png" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Collaborate</h3>
                    <p>Build collaborative teams while manage all different accesses for each one.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img class="carousel-images" src="assets\home_showcase_tracking.png" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Tracking</h3>
                    <p>Allows you to keep track of all applications that are using switchers.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img class="carousel-images" src="assets\home_showcase_environment.png" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Multi-environment</h3>
                    <p>Run multiple environments with just a few settings and enable your team work freely on your next feature.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img class="carousel-images" src="assets\home_showcase.png" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Libraries & Integrations</h3>
                    <p>Easy to use library which will save your team time and effort by providing total support when developing, testing and deploying.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </section>
    <section class="home-section collab">
        <div class="home-container">
            <div class="home-text collab-center">
                <h1 style="font-weight: normal;">
                    Welcome on board
                </h1>
            </div>
            <div class="home-text collab-left">
                <h1>
                    Become a member
                </h1>
                <p>
                    Our team is diverse and vital to keep this project growing.<br><br>
                    As an open-source project, we encourage any feedback or support.
                    Visit our Patreon page and become a member.
                    Your support will help us to continue working hard to make it even better.
                </p>
                <br>
                <p>Let's grow together. <a href="https://www.patreon.com/switcherapi" target="_blank">Support Switcher API</a></p>
                <img class="collab-patreon" src="assets\patreon.png">
            </div>
            <div class="vertical" style="height: 450px; margin-top: 160px;"></div>
            <div class="spacer"></div>
            <div class="home-text collab-right">
                <h1 class="collab-title">The crew</h1>
                <div class="collab-panel">
                    <div class="collab-profile">
                        <img class="collab-image pic" src="assets\collab_members\roger.png">
                        <p>
                            <strong>Roger Floriano</strong><br>
                            Founder/Maintainer
                        </p>
                    </div>
                    <div class="collab-profile">
                        <img class="collab-image" src="assets\switcherapi_mark_grey.png">
                        <p>
                            <strong>Collab Dude</strong><br>
                            Maintainer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>