.home-content {
  text-align: center;
}

.home-section .home-container {
  display: grid;
  grid-template-columns: 500px max-content;
  padding: 10px;
  padding-bottom: 50px;
  max-width: 1024px;
  margin: auto;
}

.home-section.header {
  background: linear-gradient(0deg, rgb(202, 202, 202) 0%, rgb(36, 41, 46) 5%, rgb(0, 0, 0) 100%); 
  padding: 30px 0px 40px 0px;
}

.home-section.features {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-section.collab {
  background-color: rgb(77, 77, 77);
  box-shadow: 0px 0px 10px 10px #4d4d4d;
  min-height: 600px;
}

.home-container.collab {
  max-width: 1124px !important;
}

.home-text h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.1em;
  color: #5298ff;
  margin-top: 1em;
  margin-bottom: 36px;
  text-align: initial;
}

.home-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  color: #dbdbdb;
  text-align: initial;
}

.home-image {
  margin: auto;
  width: 500px;
  padding-left: 20px;
}

.carousel-images {
  width: 60%;
}

.vertical {
  border-left: 2px solid #5298ff;
  height: 350px;
  position: absolute;
  left: 50%;
}

.spacer {
  display: none;
}

.home-carousel-caption {
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #666;
  text-align: center;
}

.home-carousel-caption p {
  font-size: 20px;
}

.home-carousel-caption h3 {
  font-size: 30px;
}

.carousel-indicators {
  bottom: -30px;
}

.home-text.collab-center {
  margin-top: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.home-text.collab-left {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home-text.collab-right {
  margin-left: 150px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.collab-profile {
  margin-bottom: 40px;
}

.collab-profile p {
  margin-bottom: 100px;
}

.collab-image {
  width: 90px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  height: auto !important;
  margin-top: 10px;
  -o-object-fit: contain;
  object-fit: contain;
  float: left;
  margin-right: 20px;
}

.collab-image.pic {
  border-radius: 100px;
}

.collab-patreon {
  width: 120px;
  float: left;
}

@media only screen and (max-width: 1200px) {
  .spacer {
    display: inherit;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #5298ff;
  }

  .home-section .home-container {
    display: inherit;
  }

  .home-content {
    padding-top: 0px;
  }

  .home-text h1 {
    font-size: 30px;
    text-align: center;
  }

  .home-text p {
    text-align: center;
  }

  .vertical {
    display: none;
  }

  .home-image {
    width: 80%;
  }

  .carousel-images {
    width: 80%;
  }

  .carousel-control-next, .carousel-control-prev {
    transform: translateY(-70px);
  }

  .home-text.collab-left, .home-text.collab-right {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .home-text.collab-right {
    margin-top: 0;
  }

  .collab-profile {
    min-width: 200px;
    margin: auto;
  }

  .collab-profile p {
    width: 200px;
    margin: auto;
  }

  .collab-title {
    margin: auto !important;
  }

  .collab-image {
    width: 70px;
    float: unset;
    margin-right: 0;
  }

  .collab-panel {
    display: inline-flex;
    margin-top: 20px;
  }

  .collab-patreon {
    float: unset;
  }

}

@media only screen and (max-width: 450px) {

  .collab-panel {
    display: block;
  }

  .collab-profile {
    margin-bottom: 30px;
  }

  .carousel.slide {
    height: 350px;
  }

}