.home-content {
  text-align: center;
}

.home-section .home-container {
  display: grid;
  grid-template-columns: 500px max-content;
  padding: 10px;
  padding-bottom: 50px;
  max-width: 1024px;
  margin: auto;
}

.home-text h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.1em;
  color: #5298ff;
  margin-top: 1em;
  margin-bottom: 36px;
  text-align: initial;
}

.home-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  color: #dbdbdb;
  text-align: initial;
}

.home-image {
  margin: auto;
  width: 500px;
  padding-left: 20px;
}

.carousel-images {
  width: 50%;
}

.vertical {
  border-left: 2px solid #5298ff;
  height: 350px;
  position: absolute;
  left: 50%;
}

.spacer {
  display: none;
}

.home-carousel-caption {
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #666;
  text-align: center;
}

.home-carousel-caption p {
  font-size: 20px;
}

.home-carousel-caption h3 {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .spacer {
    display: inherit;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #5298ff;
  }

  .home-section .home-container {
    display: inherit;
  }

  .home-content {
    padding-top: 0px;
  }

  .home-text h1 {
    font-size: 30px;
  }

  .vertical {
    display: none;
  }

  .home-image {
    width: 80%;
  }

  .carousel-images {
    width: 80%;
  }
}
