<div class="home-content">
    <section class="home-section section">
        <div class="home-container">
            <div class="home-text">
                <h1>
                    Switching fast.<br>
                    Adapt everywhere.
                </h1>
                <p>
                    Decrease the friction caused by changes while keeping control of what really matters.
                </p>
                <div>
                    <p>
                        Already have an account? <a routerLink="/login">Sign in</a>
                    </p>
                </div>
            </div>
            <div class="vertical"></div>
            <div class="spacer"></div>
            <div class="home-image">
                <img src="assets\switcherapi_white.png" style="width: 100%;" />
            </div>
        </div>
    </section>
    <section class="home-section section" style="margin-top: 50px;">
        <ngb-carousel [interval]="10000" [pauseOnHover]="pauseOnHover">
            <ng-template ngbSlide>
                <div>
                    <img src="assets\home_showcase.png" style="width: 80%;" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Control & Metrics</h3>
                    <p>Simple and straightforward tools which allows you to control and monitor every aspect of your business.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img src="assets\home_showcase_collab.png" style="width: 80%;" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Collaborate</h3>
                    <p>Create teams to collaborate while manage all different accesses for each one.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img src="assets\home_showcase_tracking.png" style="width: 80%;" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Tracking</h3>
                    <p>Allows you to connect and identify applications that are using switchers.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img src="assets\home_showcase_environment.png" style="width: 80%;" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Multi-environment</h3>
                    <p>Run multiple environments with just a few settings and enable your team work freely on your next feature.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                    <img src="assets\home_showcase.png" style="width: 80%;" />
                </div>
                <div class="home-carousel-caption">
                    <h3>Libraries & Integrations</h3>
                    <p>Integrate Switcher Client libraries into your application to guide your workflow either on production or during automated tests.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </section>
</div>