<h4 mat-dialog-title>
    <mat-toolbar class="dialog-header">
        <span>Clone strategy</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="onCancel()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<div mat-dialog-content>
    <section class="header activated">
        <div class="header-container">
            <div class="description">
                <mat-form-field>
                    <mat-label>From environment</mat-label>
                    <input matInput class="readonly-fields" [value]="data.currentEnvironment" readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>To environment</mat-label>
                    <mat-select #envSelectionChange cdkFocusInitial [formControl]="environmentSelection">
                        @for (environment of environments(); track environment) {
                        <mat-option [value]="environment.name">
                            {{environment.name}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </section>
</div>
<div mat-dialog-actions style="float: right;">
    <button class="btn-save" mat-button (click)="onSave(data)" cdkFocusInitial>
        <mat-icon>save</mat-icon>
        <div class="options-section-label"> Clone</div>
    </button>
    <button class="btn-cancel" mat-button (click)="onCancel()">
        <mat-icon>close</mat-icon>
        <div class="options-section-label"> Close</div>
    </button>
</div>