@if (!loading) {
<div #tabmetrics id="tabmetrics_id">
    <mat-tab-group dynamicHeight>
        @if (switcher) {
        <mat-tab label="Switchers Date/Time View">
            <div style="display: block">
                <canvas baseChart
                    [type]="getSwitcherDateTimeGroupStats().chartType"
                    [datasets]="getSwitcherDateTimeGroupStats().chartDatasets"
                    [labels]="getSwitcherDateTimeGroupStats().showLabel() ? 
                        getSwitcherDateTimeGroupStats().chartLabels : getSwitcherDateTimeGroupStats().chartShortLabels"
                    [options]="getSwitcherDateTimeGroupStats().chartOptions"
                    [legend]="true"
                    (chartClick)="getSwitcherDateTimeGroupStats().onClick($event)">
                </canvas>
            </div>
            <div id="metric-statistics-buttons" style="display: flex; margin: 1rem;">
                <button mat-mini-fab class="btn-element" 
                    (click)="getSwitcherDateTimeGroupStats().onPrevious()" 
                    [disabled]="!getSwitcherDateTimeGroupStats().hasPrevious()">
                    <mat-icon style="font-size: larger;">arrow_back</mat-icon>
                </button>
                <button mat-mini-fab class="btn-element" 
                    (click)="getSwitcherDateTimeGroupStats().loadSwitcherDateTimeGroupView()" 
                    [disabled]="!getSwitcherDateTimeGroupStats().hasNext()">
                    <mat-icon style="font-size: larger;">arrow_forward</mat-icon>
                </button>
            </div>
        </mat-tab>
        }
        <mat-tab label="Switchers View">
            <div style="display: block">
                <canvas baseChart 
                    [datasets]="getSwitcherStats().barChartData" 
                    [labels]="getSwitcherStats().barChartLabels" 
                    [options]="getSwitcherStats().barChartOptions"
                    [legend]="getSwitcherStats().barChartLegend" 
                    [type]="getSwitcherStats().barChartType"
                    (chartClick)="getSwitcherStats().onClick($event)">
                </canvas>
            </div>
        </mat-tab>
        <mat-tab label="Components View">
            <div style="display: block">
                <canvas baseChart 
                    [datasets]="getComponentsStats().barChartData" 
                    [labels]="getComponentsStats().barChartLabels" 
                    [options]="getComponentsStats().barChartOptions"
                    [legend]="getComponentsStats().barChartLegend" 
                    [type]="getComponentsStats().barChartType">
                </canvas>
            </div>
        </mat-tab>
        @if (switcher) {
        <mat-tab label="Reasons View">
            <div style="display: block">
                <canvas baseChart
					[data]="getReasonsStats().chartData"
					[labels]="getReasonsStats().chartLabels"
					[type]="getReasonsStats().chartType"
					[options]="getReasonsStats().chartOptions"
					[legend]="getReasonsStats().chartLegend">
                </canvas>
            </div>
        </mat-tab>
        }
    </mat-tab-group>
</div>
}