<div *ngIf="!loading" #tabmetrics id="tabmetrics_id">
    <mat-tab-group dynamicHeight>
        <mat-tab *ngIf="switcher != null" label="Switchers Date/Time View">
            <div style="display: block">
                <canvas baseChart
                    [chartType]="getSwitcherDateTimeGroupStats().chartType"
                    [datasets]="getSwitcherDateTimeGroupStats().chartDatasets"
                    [labels]="getSwitcherDateTimeGroupStats().showLabel() ? 
                        getSwitcherDateTimeGroupStats().chartLabels : getSwitcherDateTimeGroupStats().chartShortLabels"
                    [colors]="getSwitcherDateTimeGroupStats().chartColors"
                    [options]="getSwitcherDateTimeGroupStats().chartOptions"
                    [legend]="true">
                </canvas>
            </div>
            <div style="display: flex;">
                <button mat-button class="btn-element" 
                    (click)="getSwitcherDateTimeGroupStats().onPrevious()" 
                    [disabled]="!getSwitcherDateTimeGroupStats().hasPrevious()">
                    <mat-icon style="font-size: larger;">arrow_back</mat-icon>
                </button>
                <button mat-button class="btn-element" 
                    (click)="getSwitcherDateTimeGroupStats().loadSwitcherDateTimeGroupView()" 
                    [disabled]="!getSwitcherDateTimeGroupStats().hasNext()">
                    <mat-icon style="font-size: larger;">arrow_forward</mat-icon>
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Switchers View">
            <div style="display: block">
                <canvas baseChart 
                    [datasets]="getSwitcherStats().barChartData" 
                    [labels]="getSwitcherStats().barChartLabels" 
                    [options]="getSwitcherStats().barChartOptions"
                    [legend]="getSwitcherStats().barChartLegend" 
                    [chartType]="getSwitcherStats().barChartType">
                </canvas>
            </div>
        </mat-tab>
        <mat-tab label="Components View">
            <div style="display: block">
                <canvas baseChart 
                    [datasets]="getComponentsStats().barChartData" 
                    [labels]="getComponentsStats().barChartLabels" 
                    [options]="getComponentsStats().barChartOptions"
                    [legend]="getComponentsStats().barChartLegend" 
                    [chartType]="getComponentsStats().barChartType">
                </canvas>
            </div>
        </mat-tab>
        <mat-tab label="Reasons View">
            <div style="display: block">
                <canvas baseChart
					[data]="getReasonsStats().chartData"
					[labels]="getReasonsStats().chartLabels"
					[chartType]="getReasonsStats().chartType"
					[options]="getReasonsStats().chartOptions"
					[colors]="getReasonsStats().chartColors"
					[legend]="getReasonsStats().chartLegend">
                </canvas>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>