.btn-remove {
  background: #fb5454;
  margin-right: 20px;
}

.options-section-label {
  vertical-align: baseline !important;
  display: contents;
}

.options-section {
  display: flex;
}

.toggle-style {
  margin-top: 0;
}

.toggle-section {
  margin: auto;
  display: block;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #b0d2ff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #549bfb;
}
