<div style="padding-top: 20px;">
    <section class="{{ getTeam().active ? 'header activated' : 'header deactivated' }}">
        <div class="header-container">
            <div class="description" style="width: 350px;">
                <mat-form-field>
                    <input matInput placeholder="Team Name" [value]="getTeam().name" readonly>
                </mat-form-field>
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <input matInput placeholder="Domain Name" [value]="domain?.name" readonly>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;">
        <ngb-tabset [activeId]="1">
            <ngb-tab title="Members" id="1">
                <ng-template ngbTabContent>
                    <app-team-members [team]="getTeam()" [creatable]="creatable" [updatable]="updatable" [removable]="removable"></app-team-members>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Roles" id="2">
                <ng-template ngbTabContent>
                    <app-team-roles [team]="getTeam()" [creatable]="creatable" [updatable]="updatable" [removable]="removable"></app-team-roles>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>