<block-ui>
    <div style="padding-top: 20px;">
        <section [ngClass]="classStatus">
            <div class="header-container">
                <div class="description" style="width: 350px;">
                    <mat-form-field>
                        <input matInput placeholder="Name" readonly="{{!editing}}" 
                            [ngStyle]="editing ? {'color': 'black'} : ''" 
                            [formControl]="nameFormControl"
                            autocomplete="off">
                    </mat-form-field>
                    <mat-error *ngIf="nameFormControl.hasError('minlength')">
                        Name must contains at least 2 characters
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                    <mat-form-field>
                        <input matInput placeholder="Domain Name" [value]="domain?.name" readonly>
                    </mat-form-field>
                </div>
            </div>
        </section>
        <section class="options-section">
            <div class="toggle-section">
                <mat-slide-toggle [checked]="getTeam().active" [ngClass]="updatable ? 'toggle-style' : 'toggle-style deactivated'" 
                    (change)="changeStatus($event)" [disabled]="!updatable">
                </mat-slide-toggle>
            </div>
            <button mat-button [ngClass]="editing ? 'btn-element save btn-edit' : 'btn-element btn-edit'" (click)="edit()" [disabled]="!updatable">
                <mat-icon style="font-size: large;">build</mat-icon>
                <div class="options-section-label">{{ editing ? 'Save' : 'Edit' }}</div>
            </button>
            <button mat-button class="btn-element btn-remove" (click)="removeTeam()" [disabled]="!removable">
                <mat-icon>delete</mat-icon>
                <div class="options-section-label">Remove</div>
            </button>
        </section>
        <section style="padding-top: 20px;">
            <div *ngIf="loading" class="card-body loader-div">
                <div class="loader"></div>
                <img src="assets\switcherapi_mark_grey.png" width="60" class="loader-logo"/>
            </div>
            <div *ngIf="!loading" style="margin-top: 50px;">
                <ngb-tabset [activeId]="1">
                    <ngb-tab title="Members" id="1">
                        <ng-template ngbTabContent>
                            <app-team-members [team]="getTeam()" [creatable]="creatable" 
                                [updatable]="updatable" [removable]="removable"></app-team-members>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Roles" id="2">
                        <ng-template ngbTabContent>
                            <app-team-roles [team]="getTeam()" [creatable]="creatable" 
                                [updatable]="updatable" [removable]="removable"></app-team-roles>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Pending" id="3">
                        <ng-template ngbTabContent>
                            <app-team-pending-members [team]="getTeam()" [creatable]="creatable" 
                                [updatable]="updatable" [removable]="removable"></app-team-pending-members>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </section>
    </div>
</block-ui>